<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timevale.forward.dal.dao.BizChangeLogMapper">
    <update id="updateIdentity">
        update biz_change_log set identity = #{newIdentity}
                              where main_id = #{mainId} and identity = #{oldIdentity}
    </update>
    <update id="updateValue">
        update biz_change_log
        set old_value = #{newValue},
            new_value = #{newValue}
        where main_id = #{mainId}
          and field = #{field}
          and old_value = #{oldValue}
          and new_value = #{oldValue}
    </update>

    <select id="list" resultType="com.timevale.forward.dal.entity.BizChangeLogDO">
        select * from biz_change_log
        <where>
            <if test="mainId != null">and main_id=#{mainId}</if>
            <if test="type != null">and `type`=#{type}</if>
            and is_deleted = false
        </where>
    </select>

    <insert id="insert">
        insert into biz_change_log (`main_id`,`type`,`old_value`,`new_value`,`field`,`action`,`identity`
        ,`create_man_id`,`create_man`)
        values (#{mainId},#{type},#{oldValue},#{newValue},#{field} ,#{action}, #{identity}, #{createManId},#{createMan})
    </insert>

    <insert id="batchInsert">
        insert into biz_change_log (`main_id`,`type`,`old_value`,`new_value`,`field`,`action` , `identity`,
                                    `create_man_id`,`create_man`)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.mainId},#{item.type},#{item.oldValue},#{item.newValue},#{item.field},#{item.action},
             #{item.identity},#{item.createManId},#{item.createMan})
        </foreach>
    </insert>
</mapper>
