<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
<mapper namespace="com.timevale.forward.dal.dao.BizDomainGroupMapper">

    <select id="selectAllBizDomainGroup" resultType="com.timevale.forward.dal.entity.BizDomainGroupDO">
        select *
        from biz_domain_group
        where is_deleted = false
    </select>

    <select id="matchBizDomainGroupList" resultType="com.timevale.forward.dal.entity.BizDomainGroupDO">
        select * from biz_domain_group bdg
        <where>
            bdg.is_deleted  = false
            <if test="name != null and name != ''">and bdg.name like concat('%',#{name},'%')</if>
            and bdg.id in (
            SELECT DISTINCT r1.biz_domain_group_id
            FROM biz_domain_group_relation r1
            WHERE NOT EXISTS (
            -- 找出目标组中有但当前组中没有的biz_domain_id
                SELECT 1
                FROM biz_domain_group_relation r2
                WHERE r2.biz_domain_group_id = #{bizDomainGroupId}
                AND r2.is_deleted = 0
                AND NOT EXISTS (
                    SELECT 1
                    FROM biz_domain_group_relation r3
                    WHERE r3.biz_domain_group_id = r1.biz_domain_group_id
                    AND r3.biz_domain_id = r2.biz_domain_id
                    AND r3.is_deleted = 0
                )
            )
            AND r1.is_deleted = 0
            AND r1.biz_domain_group_id != #{bizDomainGroupId})
        </where>
    </select>

    <select id="selectById" resultType="com.timevale.forward.dal.entity.BizDomainGroupDO">
        select *
        from biz_domain_group
        where id = #{id}
    </select>

    <select id="getByIds" resultType="com.timevale.forward.dal.entity.BizDomainGroupDO">
        select *
        from biz_domain_group
        <where>
            is_deleted = false
            <if test="ids != null and ids.size() > 0">
                AND id IN
                <foreach collection="ids" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectByName" resultType="com.timevale.forward.dal.entity.BizDomainGroupDO">
        SELECT *
        FROM biz_domain_group
        <where>
            AND `name` = #{name}
            AND is_deleted = false
        </where>
    </select>

    <insert id="insert" parameterType="com.timevale.forward.dal.entity.BizDomainGroupDO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO biz_domain_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">`name`,</if>
            <if test="owner != null">`owner`,</if>
            <if test="ownerId != null">owner_id,</if>
            <if test="desc != null">`desc`,</if>
            <if test="createMan != null">create_man,</if>
            <if test="createManId != null">create_man_id,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="owner != null">#{owner},</if>
            <if test="ownerId != null">#{ownerId},</if>
            <if test="desc != null">#{desc},</if>
            <if test="createMan != null">#{createMan},</if>
            <if test="createManId != null">#{createManId},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.timevale.forward.dal.entity.BizDomainGroupDO">
        update biz_domain_group
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="owner != null">owner = #{owner},</if>
            <if test="desc != null">`desc` = #{desc},</if>
            <if test="ownerId != null">owner_id = #{ownerId},</if>
            <if test="modifyMan != null">modify_man = #{modifyMan},</if>
            <if test="modifyManId != null">modify_man_id = #{modifyManId},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="listingStatus != null">listing_status = #{listingStatus},</if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="selectByCondition" resultType="com.timevale.forward.dal.entity.BizDomainGroupDO">
        select *
        from biz_domain_group
        <where>
            is_deleted = false
            <if test="name != null and name!=''">
                AND `name` like concat('%',#{name},'%')
            </if>
            <if test="ownerIds != null and ownerIds.size() > 0">
                AND owner_id IN
                <foreach collection="ownerIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="listingStatus != null">
                AND listing_status=#{listingStatus}
            </if>
        </where>
    </select>

    <select id="countProductLine" resultType="java.lang.Integer">
        select count(*)
        from product_line pl
        left join biz_domain_group_relation bdgr on pl.biz_domain_id  = bdgr.biz_domain_id
        <where>
            pl.is_deleted = false
            AND bdgr.is_deleted = false
            AND bdgr.biz_domain_group_id = #{bizDomainGroupId}
            AND (pl.owner_id = #{ownerId} or pl.bug_online_owner_id = #{ownerId})
        </where>
    </select>

    <select id="countBizGroup" resultType="java.lang.Integer">
        select count(*) from biz_domain bd
        left join biz_domain_group_relation bdgr on bd.id = bdgr.biz_domain_id
        <where>
            bd.is_deleted = 0
            and bdgr.is_deleted = 0
            AND bdgr.biz_domain_group_id = #{bizDomainGroupId}
            and (bd.pbu_owner_id = #{ownerId} or bd.owner_id = #{ownerId} or bd.tech_owner_id = #{ownerId})
        </where>
    </select>

</mapper>
