<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
<mapper namespace="com.timevale.forward.dal.dao.BizDomainMapper">

    <select id="selectAllBizDomain" resultType="com.timevale.forward.dal.entity.BizDomainDO">
        select *
        from biz_domain
    </select>

    <select id="selectById" resultType="com.timevale.forward.dal.entity.BizDomainDO">
        select *
        from biz_domain
        where id = #{id}
    </select>

    <select id="getByIds" resultType="com.timevale.forward.dal.entity.BizDomainDO">
        select *
        from biz_domain
        <where>
            <if test="ids != null and ids.size() > 0">
                AND id IN
                <foreach collection="ids" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectByName" resultType="com.timevale.forward.dal.entity.BizDomainDO">
        SELECT *
        FROM biz_domain
        <where>
            <if test="nameList != null and nameList.size() > 0">
                AND `name` IN
                <foreach collection="nameList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            AND is_deleted = false
        </where>
    </select>

    <insert id="insert" parameterType="com.timevale.forward.dal.entity.BizDomainDO">
        INSERT INTO biz_domain
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">`name`,</if>
            <if test="owner != null">`owner`,</if>
            <if test="ownerId != null">owner_id,</if>
            <if test="techOwner != null">tech_owner,</if>
            <if test="techOwnerId != null">tech_owner_id,</if>
            <if test="pbuOwner != null">pbu_owner,</if>
            <if test="pbuOwnerId != null">pbu_owner_id,</if>
            <if test="directReject != null">direct_reject,</if>
            <if test="directConvertBiz != null">direct_convert_biz,</if>
            <if test="createMan != null">create_man,</if>
            <if test="createManId != null">create_man_id,</if>
        </trim>
        VALUES
        <trim>
            <if test="name != null">#{name},</if>
            <if test="owner != null">#{owner},</if>
            <if test="ownerId != null">#{ownerId},</if>
            <if test="techOwner != null">#{techOwner},</if>
            <if test="techOwnerId != null">#{techOwnerId},</if>
            <if test="pbuOwner != null">#{pbuOwner},</if>
            <if test="pbuOwnerId != null">#{pbuOwnerId},</if>
            <if test="directReject != null">#{directReject},</if>
            <if test="directConvertBiz != null">#{directConvertBiz},</if>
            <if test="createMan != null">#{createMan},</if>
            <if test="createManId != null">#{createManId},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.timevale.forward.dal.entity.BizDomainDO">
        update biz_domain
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="owner != null">owner = #{owner},</if>
            <if test="ownerId != null">owner_id = #{ownerId},</if>
            <if test="techOwner != null">tech_owner = #{techOwner},</if>
            <if test="techOwnerId != null">tech_owner_id = #{techOwnerId},</if>
            <if test="pbuOwner != null">pbu_owner = #{pbuOwner},</if>
            <if test="pbuOwnerId != null">pbu_owner_id = #{pbuOwnerId},</if>
            <if test="directReject != null">direct_reject = #{directReject},</if>
            <if test="directConvertBiz != null">direct_convert_biz = #{directConvertBiz},</if>
            <if test="modifyMan != null">modify_man = #{modifyMan},</if>
            <if test="modifyManId != null">modify_man_id = #{modifyManId},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="selectByCondition" resultType="com.timevale.forward.dal.entity.BizDomainDO">
        select *
        from biz_domain
        <where>
            <if test="name != null and name!=''">
                AND `name` like concat('%',#{name},'%')
            </if>
            <if test="ownerIds != null and ownerIds.size() > 0">
                AND owner_id IN
                <foreach collection="ownerIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>
