<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
<mapper namespace="com.timevale.forward.dal.dao.BizDemandMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into biz_demand (name, product_line_id, data_indicators, target_customer, create_customer, dept_id, `desc`, status,
                                priority, receive_man, receive_man_id, processor, os, create_man_id, create_man)
        values (#{name}, #{productLineId}, #{dataIndicators}, #{targetCustomer}, #{createCustomer}, #{deptId}, #{desc}, #{status},
                #{priority}, #{receiveMan}, #{receiveManId}, #{processor}, #{os}, #{createManId}, #{createMan})
    </insert>

    <update id="update">
        update biz_demand
        set
        <if test="name!=null  and name!='' ">
            name = #{name},
        </if>
        <if test="productLineId!=null">
            product_line_id = #{productLineId},
        </if>
        <if test="dataIndicators!=null and dataIndicators!='' ">
            data_indicators = #{dataIndicators},
        </if>
        <if test="targetCustomer!=null  and  targetCustomer!='' ">
            target_customer = #{targetCustomer},
        </if>
        <if test="createCustomer!=null">
            create_customer = #{createCustomer},
        </if>
        <if test="deptId!=null">
            dept_id = #{deptId},
        </if>
        <if test="desc!=null  and desc!='' ">
            `desc` = #{desc},
        </if>
        <if test="status!=null">
            status = #{status},
        </if>
        <if test="priority!=null">
            priority = #{priority},
        </if>
        <if test="receiveMan!=null">
            receive_man = #{receiveMan},
        </if>
        <if test="receiveManId!=null">
            receive_man_id = #{receiveManId},
        </if>
        <if test="processor!=null">
            processor = #{processor},
        </if>
        <if test="os!=null">
            os = #{os},
        </if>
        <if test="planReleaseDate!=null">
            plan_release_date = #{planReleaseDate},
        </if>
        <if test="reason!=null">
            reason = #{reason},
        </if>
        modify_man_id = #{modifyManId},
        modify_man = #{modifyMan}
        where id = #{id}
    </update>

    <select id="selectById" resultType="com.timevale.forward.dal.entity.BizDemandDO">
        select id, name, product_line_id, data_indicators, target_customer, create_customer, dept_id, `desc`, status, priority,
               receive_man, receive_man_id, processor, os, plan_release_date, reason, is_deleted, create_man_id, create_man, create_date,
               modify_man_id, modify_man, modify_date
        from biz_demand
        where id = #{id}
        and is_deleted = false
    </select>

    <select id="selectByName" resultType="com.timevale.forward.dal.entity.BizDemandDO">
        select id, name, product_line_id, data_indicators, target_customer, create_customer, dept_id, `desc`, status, priority,
               receive_man, receive_man_id, processor, os, plan_release_date, reason, is_deleted, create_man_id, create_man, create_date,
               modify_man_id, modify_man, modify_date
        from biz_demand
        where name = #{name}
          and is_deleted = false
    </select>

    <select id="selectList" resultType="com.timevale.forward.dal.entity.BizDemandListDO">
        select bd.id, bd.name, bd.dept_id, bd.status, bd.priority, bd.receive_man,  bd.receive_man_id,
               bd.plan_release_date, bd.is_deleted, bd.create_man_id, bd.create_man, bd.create_date, bd.modify_man_id, bd.modify_man, bd.modify_date,
               pl.id productLineId, pl.name productLineName,
               b.id bizDomainId , b.name bizDomainName
        from biz_demand bd
        left join product_line pl on pl.id = bd.product_line_id
        left join biz_domain b    on pl.biz_domain_id = b.id
        <if test="productDemandId != null">
            left join product_biz_demand d on d.biz_demand_id=bd.id and d.is_deleted =false
        </if>
        <where>
            <if test="id!=null">
                and bd.id = #{id}
            </if>
            <if test="name!=null and name!='' ">
                and bd.name like concat('%',#{name},'%')
            </if>
            <if test="priorityList!=null and priorityList.size()>0">
                and bd.priority in
                <foreach collection="priorityList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="bizDomainIdList!=null and bizDomainIdList.size()>0">
                and pl.biz_domain_id in
                <foreach collection="bizDomainIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="productLineIdList!=null and productLineIdList.size()>0">
                and bd.product_line_id in
                <foreach collection="productLineIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="planReleaseDateList!=null and planReleaseDateList.size()>0">
                and bd.plan_release_date in
                <foreach collection="planReleaseDateList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="statusList!=null and statusList.size()>0">
                and bd.status in
                <foreach collection="statusList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="createManIdList!=null and createManIdList.size()>0">
                and bd.create_man_id in
                <foreach collection="createManIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="receiveManIdList!=null and receiveManIdList.size()>0">
                and bd.receive_man_id in
                <foreach collection="receiveManIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="deptIdList!=null and deptIdList.size()>0">
                and bd.dept_id in
                <foreach collection="deptIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="copier!=null and copier!='' ">
                and bd.id IN (
                SELECT p.biz_demand_id
                FROM person p
                WHERE p.user_id = #{copier}
                AND p.type = 30
                )
            </if>
            <choose>
                <when test="createDateStart!=null and createDateEnd!=null">
                    and bd.create_date &gt;= #{createDateStart}
                    and bd.create_date &lt;= #{createDateEnd}
                </when>
                <otherwise>
                    <choose>
                        <when test="createDateStart!=null">
                            and bd.create_date &gt;= #{createDateStart}
                        </when>
                        <when test="createDateEnd!=null">
                            and bd.create_date &lt;= #{createDateEnd}
                        </when>
                    </choose>
                </otherwise>
            </choose>
            <if test="productDemandId != null">
           <!--产品需求关联业务需求时, 不能选择已经被自身关联的业务需求 -->
                and (d.product_demand_id is null or (d.product_demand_id is not null and d.product_demand_id != #{productDemandId}));
            </if>
        </where>
    </select>

    <select id="productDemandBizDemandList" resultType="com.timevale.forward.dal.entity.BizDemandListDO">
        select a.id, a.name,a.priority,a.dept_id,a.modify_date,a.create_man,a.create_man_id
        from biz_demand a
                 left join product_biz_demand b on a.id=b.biz_demand_id and b.is_deleted=false
        where b.product_demand_id = #{productDemandId} and   a.is_deleted = false
    </select>

    <update id="updateByIds">
        <if test="ids!=null and ids.size()>0">
            update biz_demand
            set status =#{status}
            <where>
                and id IN
                <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </where>
        </if>
    </update>

</mapper>
