<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timevale.forward.dal.dao.BugLogMapper">

    <select id="selectByBugOfflineId" resultType="com.timevale.forward.dal.entity.BugLogDO">
        select * from bug_log
        where main_id=#{bugOfflineId} and is_deleted=0
    </select>

    <update id="deleteByBugOfflineId">
        update bug_log
        <set>
            <if test="true ">is_deleted = true,</if>
            <if test="modifyMan != null">modify_man = #{modifyMan},</if>
            <if test="modifyManId != null">modify_man_id = #{modifyManId},</if>
        </set>
        where main_id = #{bugOfflineId} and type = 0
    </update>

    <insert id="insert">
        insert into bug_log (`main_id`,`type`,`old_value`,`new_value`,`field`,`action`,`bug_name`,`content`
        ,`create_man_id`,`create_man`)
        values (#{bugLogDO.mainId},#{bugLogDO.type},#{bugLogDO.oldValue},#{bugLogDO.newValue},#{bugLogDO.field}
        ,#{bugLogDO.action},#{bugLogDO.bugName},#{bugLogDO.content},#{createManId},#{createMan})
    </insert>
    
    <insert id="batchInsert">
        insert into bug_log (`main_id`,`type`,`old_value`,`new_value`,`field`,`action`,`bug_name`,`content`
                            ,`create_man_id`,`create_man`)
        values
        <foreach collection="bugLogDOList" item="item" separator=",">
            (#{item.mainId},#{item.type},#{item.oldValue},#{item.newValue},#{item.field}
            ,#{item.action},#{item.bugName},#{item.content},#{createManId},#{createMan})
        </foreach>
    </insert>
</mapper>
