<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timevale.forward.dal.dao.BugLogMapper">

    <select id="selectByBugOfflineIdAndType" resultType="com.timevale.forward.dal.entity.BugLogDO">
        select * from bug_log
        <where>
            <if test="bugOfflineId != null">and main_id=#{bugOfflineId}</if>
            <if test="type != null">and `type`=#{type}</if>
            <if test="true">and is_deleted=0</if>
            <if test="statusChange == true">and `action` is not null</if>
        </where>
        order by `create_date` desc,`id` DESC
    </select>

    <select id="selectBugStatusLog" resultType="com.timevale.forward.dal.entity.BugLogDO">
        SELECT * FROM bug_log
        <where>
            <if test="mainIdList != null and mainIdList.size() > 0">
                and main_id in
                <foreach collection="mainIdList" separator="," item="item" open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="type != null">and `type`=#{type}</if>
            <if test="true">and `action` is not null</if>
        </where>
    </select>

    <update id="deleteByBugId">
        update bug_log
        <set>
            <if test="true ">is_deleted = true,</if>
            <if test="modifyMan != null">modify_man = #{modifyMan},</if>
            <if test="modifyManId != null">modify_man_id = #{modifyManId},</if>
            <if test="true">and `action` is not null</if>
            <if test="true">and is_deleted = false</if>
        </set>
        where main_id = #{bugId} and `type` = #{type}
    </update>

    <insert id="insert">
        insert into bug_log (`main_id`,`type`,`old_value`,`new_value`,`field`,`action`
        ,`create_man_id`,`create_man`)
        values (#{bugLogDO.mainId},#{bugLogDO.type},#{bugLogDO.oldValue},#{bugLogDO.newValue},#{bugLogDO.field}
        ,#{bugLogDO.action},#{createManId},#{createMan})
    </insert>

    <insert id="batchInsert">
        insert into bug_log (`main_id`,`type`,`old_value`,`new_value`,`field`,`action`
        ,`create_man_id`,`create_man`)
        values
        <foreach collection="bugLogDOList" item="item" separator=",">
            (#{item.mainId},#{item.type},#{item.oldValue},#{item.newValue},#{item.field}
            ,#{item.action},#{createManId},#{createMan})
        </foreach>
    </insert>
</mapper>
