<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timevale.forward.dal.dao.BugOnlineMapper">
    <select id="get" resultType="com.timevale.forward.dal.entity.BugOnlineDO">
        select *
        from bug_online
        where id = #{id}
          and is_deleted = 0
    </select>

    <select id="getContainDeleted" resultType="com.timevale.forward.dal.entity.BugOnlineDO">
        select *
        from bug_online
        where id = #{id}
    </select>

    <select id="selectListByCondition" resultType="com.timevale.forward.dal.entity.BugOnlineListDO">
        select bo.*
        from bug_online bo
        left join bug_online_product_line bopl on bo.id = bopl.bug_online_id AND bopl.type =0  AND bopl.is_deleted = false
        left join bug_online_model mo on bo.id = mo.bug_online_id and mo.is_deleted = false
        left join product_line pl on bopl.product_line_id = pl.id
        left join biz_domain bdm on pl.biz_domain_id = bdm.id

        <if test="isSystemCloseBug!=null and isSystemCloseBug==true">
        left join bug_online_status_operator boso on bo.id = boso.bug_online_id and boso.is_deleted = false
        </if>
        <where>
            <if test="containIds!=null and containIds.size()>0">
                and bo.id in
                <foreach collection="containIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="exclusiveIds!=null and exclusiveIds.size()>0">
                and bo.id not in
                <foreach collection="exclusiveIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="name != null and name != '' ">
                and bo.name like concat('%',#{name},'%')
            </if>
            <if test="describe != null and describe != '' ">
                and bo.describe like concat('%',#{describe},'%')
            </if>
            <if test="customerName!= null and customerName != '' ">
                and bo.customer_name like concat('%',#{customerName},'%')
            </if>
            <if test="status != null and status.size() > 0">
                and bo.status in
                <foreach collection="status" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="operatorIdList != null and operatorIdList.size() > 0">
                and bo.operator_id in
                <foreach collection="operatorIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="proposerIdList != null and proposerIdList.size() > 0">
                and bo.proposer_id in
                <foreach collection="proposerIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="priorities != null and priorities.size() > 0">
                and bo.priority in
                <foreach collection="priorities" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="envs != null and envs.size() > 0">
                and bo.env in
                <foreach collection="envs" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="reasons != null and reasons.size() > 0">
                and bo.reason in
                <foreach collection="reasons" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="belongs != null and belongs.size() > 0">
                and bo.belong in
                <foreach collection="belongs" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="sourceId != null and sourceId != ''">
                and bo.source_id = #{sourceId}
            </if>
            <if test="dismissCauseList != null and dismissCauseList.size() > 0">
                and bo.dismiss_cause in
                <foreach collection="dismissCauseList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="sourceList != null and sourceList.size() > 0">
                and bo.source in
                <foreach collection="sourceList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="areas != null and areas.size() > 0">
                and bo.area in
                <foreach collection="areas" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="modelIds != null and modelIds.size() > 0">
                and mo.model_id in
                <foreach collection="modelIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="productLineIdList != null and productLineIdList.size() > 0">
                and pl.id in
                <foreach collection="productLineIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="bizDomainIdList != null and bizDomainIdList.size() > 0">
                and bdm.id in
                <foreach collection="bizDomainIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="createDateLeft != null and createDateRight != null">
                and bo.create_date &gt;= #{createDateLeft} and bo.create_date &lt;= #{createDateRight}
            </if>
            <if test="modifyDateLeft != null and modifyDateRight != null">
                and bo.modify_date &gt;= #{modifyDateLeft} and bo.modify_date &lt;= #{modifyDateRight}
            </if>
            <if test="copier!=null and copier!='' ">
                and bo.id IN (
                select p.main_id
                from person p
                where p.user_id = #{copier}
                and p.type = 60
                and p.is_deleted = false
                )
            </if>
            <if test="isSystemCloseBug!=null and isSystemCloseBug==true">
                and  bo.status =2 and boso.status=2 and boso.operator_id='SYSTEM'
             </if>
            <if test="openCountType != null and openCount != null">
                <if test="openCountType == 0">and bo.open_count = #{openCount}</if>
                <if test="openCountType == 1">and bo.open_count &gt; #{openCount}</if>
                <if test="openCountType == 2">and bo.open_count &gt;= #{openCount}</if>
                <if test="openCountType == 3">and bo.open_count &lt; #{openCount}</if>
                <if test="openCountType == 4">and bo.open_count &lt;= #{openCount}</if>
            </if>
            <if test="categoryList!=null and categoryList.size()>0">
                and bo.category in
                <foreach collection="categoryList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="customerGradeList!=null and customerGradeList.size()>0">
                and bo.customer_grade in
                <foreach collection="customerGradeList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="true">
                and bo.is_deleted = false
                and bopl.is_deleted = false
            </if>
        </where>
        group by bo.id
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO bug_online
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="name != null"> `name`,</if>
                <if test="operator != null"> operator,</if>
                <if test="operatorId != null"> operator_id,</if>
                <if test="lastOperator != null"> last_operator,</if>
                <if test="lastOperatorId != null"> last_operator_id,</if>
                <if test="proposer != null"> proposer,</if>
                <if test="proposerId != null"> proposer_id,</if>
                <if test="customerName != null"> customer_name,</if>
                <if test="env != null"> env,</if>
                <if test="belong != null"> belong,</if>
                <if test="priority != null"> priority,</if>
                <if test="recurrent != null"> recurrent,</if>
                <if test="reason != null"> reason,</if>
                <if test="expectDate != null"> expect_date,</if>
                <if test="business != null"> business,</if>
                <if test="describe != null"> `describe`,</if>
                <if test="systemMenuName != null"> system_menu_name,</if>
                <if test="source != null"> `source`,</if>
                <if test="detailVersionId != null"> detail_version_id,</if>
                <if test="sourceId != null"> source_id,</if>
                <if test="customerDevProjectName != null"> customer_dev_project_name,</if>
                <if test="bizId != null"> biz_id,</if>
                <if test="bizName != null"> biz_name,</if>
                <if test="area != null"> area,</if>
                <if test="customerGrade != null">customer_grade,</if>
                <if test="category!=null">category,</if>
                <if test="bugOfflineId!=null">bug_offline_id,</if>
                <if test="reasonStage!=null">reason_stage,</if>
                <if test="dismissCauseStage!=null">dismiss_cause_stage,</if>
                <if test="createMan != null"> create_man,</if>
                <if test="createManId != null"> create_man_id,</if>
            </trim>
            VALUES
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="name!=null">#{name},</if>
                <if test="operator!=null">#{operator},</if>
                <if test="operatorId!=null">#{operatorId},</if>
                <if test="lastOperator!=null">#{lastOperator},</if>
                <if test="lastOperatorId!=null">#{lastOperatorId},</if>
                <if test="proposer!=null">#{proposer},</if>
                <if test="proposerId!=null">#{proposerId},</if>
                <if test="customerName!=null">#{customerName},</if>
                <if test="env!=null">#{env},</if>
                <if test="belong!=null">#{belong},</if>
                <if test="priority!=null">#{priority},</if>
                <if test="recurrent!=null">#{recurrent},</if>
                <if test="reason!=null">#{reason},</if>
                <if test="expectDate!=null">#{expectDate},</if>
                <if test="business!=null">#{business},</if>
                <if test="describe!=null">#{describe},</if>
                <if test="systemMenuName!=null">#{systemMenuName},</if>
                <if test="source!=null">#{source},</if>
                <if test="detailVersionId!=null">#{detailVersionId},</if>
                <if test="sourceId!=null">#{sourceId},</if>
                <if test="customerDevProjectName!=null">#{customerDevProjectName},</if>
                <if test="bizId!=null">#{bizId},</if>
                <if test="bizName!=null">#{bizName},</if>
                <if test="area!=null">#{area},</if>
                <if test="customerGrade != null">#{customerGrade},</if>
                <if test="category!=null">#{category},</if>
                <if test="bugOfflineId!=null">#{bugOfflineId},</if>
                <if test="reasonStage!=null">#{reasonStage},</if>
                <if test="dismissCauseStage!=null">#{dismissCauseStage},</if>
                <if test="createMan != null"> #{createMan},</if>
                <if test="createManId != null"> #{createManId},</if>
            </trim>
    </insert>

    <update id="update">
        update bug_online
        <set>
            # 历史悠久，改不动了
            <if test="true">
                area = #{area},
                reason = #{reason},
                category = #{category},
                expect_date = #{expectDate},
                reason_stage = #{reasonStage},
                dismiss_cause = #{dismissCause},
                customer_name = #{customerName},
                bug_offline_id = #{bugOfflineId},
                repair_fail_reason = #{repairFailReason},
                dismiss_cause_stage = #{dismissCauseStage},
            </if>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="customer_grade != null">
                customer_grade = #{customerGrade},
            </if>
            <if test="operator != null">
                operator = #{operator},
            </if>
            <if test="operatorId != null">
                operator_id = #{operatorId},
            </if>
            <if test="lastOperator != null">
                last_operator = #{lastOperator},
            </if>
            <if test="lastOperatorId != null">
                last_operator_id = #{lastOperatorId},
            </if>
            <if test="proposer != null">
                proposer = #{proposer},
            </if>
            <if test="proposerId != null">
                proposer_id = #{proposerId},
            </if>
            <if test="env != null">
                env = #{env},
            </if>
            <if test="belong != null">
                belong = #{belong},
            </if>
            <if test="priority != null">
                priority = #{priority},
            </if>
            <if test="recurrent != null">
                recurrent = #{recurrent},
            </if>
            <if test="business != null">
                business = #{business},
            </if>
            <if test="describe != null">
                `describe` = #{describe},
            </if>
            <if test="prevStatus != null">
                prev_status = #{prevStatus},
            </if>
            <if test="hangUp != null">
                hang_up = #{hangUp},
            </if>
            <if test="status != null">
                `status` = #{status},
            </if>
            <if test="problemReason != null">
                problem_reason = #{problemReason},
            </if>
            <if test="solveScheme != null">
                solve_scheme = #{solveScheme},
            </if>
            <if test="openAgainReason != null">
                open_again_reason = #{openAgainReason},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            <if test="detailVersionId != null">
                detail_version_id = #{detailVersionId},
            </if>
            <if test="expectLaunchDate != null">
                expect_launch_date = #{expectLaunchDate},
            </if>
            <if test="sourceId != null and sourceId != ''">
                source_id = #{sourceId},
            </if>
            <if test="customerDevProjectName != null and customerDevProjectName != ''">
                customer_dev_project_name = #{customerDevProjectName},
            </if>
            <if test="openCount != null">open_count = #{openCount},</if>
            <if test="modifyManId != null">
                modify_man_id = #{modifyManId},
            </if>
            <if test="modifyMan != null">
                modify_man = #{modifyMan}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="selectByLinkBugId" resultType="com.timevale.forward.dal.entity.BugOnlineDO">
        SELECT id
             , name
             , operator
             , operator_id
             , last_operator
             , last_operator_id
             , proposer
             , proposer_id
             , customer_name
             , env
             , belong
             , priority
             , recurrent
             , reason
             , expect_date
             , business
             , `describe`
             , system_menu_name
             , create_man
             , create_man_id
             , source
             , detail_version_id
             , link_bug_id
        FROM bug_online
        WHERE link_bug_id = #{linkBugId}
          and is_deleted = false
    </select>

    <update id="updateByIds">
        update bug_online
        <set>
            link_bug_id =#{linkBugId}
        </set>
        <where>
            and id IN
            <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </update>

    <select id="getByIds" resultType="com.timevale.forward.dal.entity.BugOnlineDO">
        SELECT id, name,operator,operator_id,last_operator,last_operator_id,proposer
        ,proposer_id,customer_name,env,belong,priority,recurrent,reason,expect_date,business,`describe`,system_menu_name
        ,create_man,create_man_id,source, detail_version_id,link_bug_id
        FROM bug_online
        <where>
            id in
            <foreach collection="ids" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            <if test="containDeleted == false">
                and is_deleted = false
            </if>
        </where>
    </select>

    <select id="selectByName" resultType="com.timevale.forward.dal.entity.BugOnlineDO">
        SELECT id, name,operator,operator_id,last_operator,last_operator_id,proposer
        ,proposer_id,customer_name,env,belong,priority,recurrent,reason,expect_date,business,`describe`,system_menu_name
        ,create_man,create_man_id,source, detail_version_id,link_bug_id
        FROM bug_online
        <where>
            name like concat('%',#{name},'%') and is_deleted = false
        </where>
    </select>

    <select id="selectByStatus" resultType="com.timevale.forward.dal.entity.BugOnlineDO">
        SELECT id, name,operator,operator_id,last_operator,last_operator_id,proposer
        ,proposer_id,customer_name,env,belong,priority,recurrent,reason,expect_date,business,`describe`,system_menu_name
        ,create_man,create_man_id,source, detail_version_id,link_bug_id
        ,is_deleted,create_man ,create_man_id,create_date ,modify_man ,modify_man_id,modify_date
        FROM bug_online
        <where>
            status in
            <foreach collection="status" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            and is_deleted = false
        </where>
    </select>

    <update id="updateStatusByIds">
        update bug_online
        <set>
            status =#{status}
        </set>
        <where>
            and id IN
            <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </update>

    <select id="selectByCustomId" resultType="com.timevale.forward.dal.entity.BugOnlineListDO">
        select bo.id, bo.name, bo.status, bo.operator, bo.operator_id, bo.proposer, bo.proposer_id, bo.priority, bo.env,
        bo.reason, bo.belong, bo.dismiss_cause, bo.customer_name, bo.expect_launch_date, bo.source,
        bo.create_date, bo.modify_date
        from bug_online bo
         left join bug_online_custom bc on bo.id = bc.bug_online_id where bc.custom_id = #{customId} and bc.is_deleted=0 and bo.is_deleted=0 order by bo.create_date desc

    </select>

    <select id="selectAllId" resultType="java.lang.Long">
        SELECT id
        FROM bug_online
        WHERE is_deleted = false
    </select>

    <select id="getByBugOffline" resultType="com.timevale.forward.dal.entity.BugOnlineDO">
        SELECT *
        FROM bug_online
        WHERE bug_offline_id = #{bugOfflineId}
          AND is_deleted = false
    </select>

    <update id="delete">
        UPDATE bug_online
        <set>
            is_deleted = true,
            <if test="modifyMan != null">modify_man=#{modifyMan},</if>
            <if test="modifyManId != null">modify_man_id=#{modifyManId},</if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="clearBugOffline">
        UPDATE bug_online
        <set>
            bug_offline_id = null,
            <if test="modifyMan != null">modify_man=#{modifyMan},</if>
            <if test="modifyManId != null">modify_man_id=#{modifyManId},</if>
        </set>
        <where>
            AND id IN
            <foreach collection="ids" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </where>
    </update>

</mapper>
























