<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timevale.forward.dal.dao.BugOnlineMapper">
    <select id="selectById" resultType="com.timevale.forward.dal.entity.BugOnlineDO">
        select * from bug_online
        where id = #{id} and is_deleted = 0
    </select>

    <select id="selectListByCondition" resultType="com.timevale.forward.dal.entity.BugOnlineListDO">
        select bo.id, bo.name, bo.status, bo.operator, bo.operator_id, bo.proposer, bo.proposer_id, bo.priority, bo.env,
        bo.reason, bo.belong, bo.dismiss_cause,
        bo.create_date, bo.modify_date
        from bug_online bo
        left join bug_online_product_line bopl on bo.id = bopl.bug_online_id
        left join product_line pl on bopl.product_line_id = pl.id
        left join biz_domain bdm on pl.biz_domain_id = bdm.id
        <where>
            <if test="name != null and name != '' ">
                and bo.name like concat('%',#{name},'%')
            </if>
            <if test="status != null and status.size() > 0">
                and bo.status in
                <foreach collection="status" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="operatorIdList != null and operatorIdList.size() > 0">
                and bo.operator_id in
                <foreach collection="operatorIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="proposerIdList != null and proposerIdList.size() > 0">
                and bo.proposer_id in
                <foreach collection="proposerIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="priorities != null and priorities.size() > 0">
                and bo.priority in
                <foreach collection="priorities" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="envs != null and envs.size() > 0">
                and bo.env in
                <foreach collection="envs" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="reasons != null and reasons.size() > 0">
                and bo.reason in
                <foreach collection="reasons" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="belongs != null and belongs.size() > 0">
                and bo.belong in
                <foreach collection="belongs" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="dismissCauseList != null and dismissCauseList.size() > 0">
                and bo.dismiss_cause in
                <foreach collection="dismissCauseList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="productLineIdList != null and productLineIdList.size() > 0">
                and pl.id in
                <foreach collection="productLineIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="bizDomainIdList != null and bizDomainIdList.size() > 0">
                and bdm.id in
                <foreach collection="bizDomainIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="createDateLeft != null and createDateRight != null">
                and bo.create_date &gt;= #{createDateLeft} and bo.create_date &lt;= #{createDateRight}
            </if>
            <if test="modifyDateLeft != null and modifyDateRight != null">
                and bo.modify_date &gt;= #{modifyDateLeft} and bo.modify_date &lt;= #{modifyDateRight}
            </if>
            <if test="copier!=null and copier!='' ">
                and bo.id IN (
                select p.main_id
                from person p
                where p.user_id = #{copier}
                and p.type = 60
                and p.is_deleted = false
                )
            </if>
            <if test="true">
                and bo.is_deleted = false
                and bopl.is_deleted = false
            </if>
        </where>
        group by bo.id
    </select>

    <select id="selectByBizDemandId" resultType="com.timevale.forward.dal.entity.BugOnlineDO">
        SELECT id, name
        FROM bug_online
        WHERE biz_demand_id = #{bizDemandId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="bugOnlineDO.id">
        insert into bug_online(name,operator,operator_id,last_operator,last_operator_id,proposer
        ,proposer_id,customer_name,env,belong,priority,recurrent,reason,expect_date,business,`describe`,system_menu_name
        ,create_man,create_man_id,source, model_id, detail_version_id)
        values(#{bugOnlineDO.name},#{bugOnlineDO.operator},#{bugOnlineDO.operatorId},#{bugOnlineDO.lastOperator}
        ,#{bugOnlineDO.lastOperatorId},#{bugOnlineDO.proposer},#{bugOnlineDO.proposerId},#{bugOnlineDO.customerName}
        ,#{bugOnlineDO.env},#{bugOnlineDO.belong},#{bugOnlineDO.priority},#{bugOnlineDO.recurrent}
        ,#{bugOnlineDO.reason},#{bugOnlineDO.expectDate},#{bugOnlineDO.business},#{bugOnlineDO.describe},#{bugOnlineDO.systemMenuName}
        ,#{createMan},#{createManId},#{bugOnlineDO.source}, #{bugOnlineDO.modelId}, #{bugOnlineDO.detailVersionId})
    </insert>

    <update id="update">
        update bug_online
        <set>
            <if test="bugOnlineDO.name != null">
                name = #{bugOnlineDO.name},
            </if>
            <if test="bugOnlineDO.operator != null">
                operator = #{bugOnlineDO.operator},
            </if>
            <if test="bugOnlineDO.operatorId != null">
                operator_id = #{bugOnlineDO.operatorId},
            </if>
            <if test="bugOnlineDO.lastOperator != null">
                last_operator = #{bugOnlineDO.lastOperator},
            </if>
            <if test="bugOnlineDO.lastOperatorId != null">
                last_operator_id = #{bugOnlineDO.lastOperatorId},
            </if>
            <if test="bugOnlineDO.proposer != null">
                proposer = #{bugOnlineDO.proposer},
            </if>
            <if test="bugOnlineDO.proposerId != null">
                proposer_id = #{bugOnlineDO.proposerId},
            </if>
            <if test="true">
                customer_name = #{bugOnlineDO.customerName},
            </if>
            <if test="bugOnlineDO.bizDemandId != null">
                biz_demand_id = #{bugOnlineDO.bizDemandId},
            </if>
            <if test="bugOnlineDO.env != null">
                env = #{bugOnlineDO.env},
            </if>
            <if test="bugOnlineDO.belong != null">
                belong = #{bugOnlineDO.belong},
            </if>
            <if test="bugOnlineDO.priority != null">
                priority = #{bugOnlineDO.priority},
            </if>
            <if test="bugOnlineDO.recurrent != null">
                recurrent = #{bugOnlineDO.recurrent},
            </if>
            <if test="true">
                reason = #{bugOnlineDO.reason},
            </if>
            <if test="true">
                expect_date = #{bugOnlineDO.expectDate},
            </if>
            <if test="bugOnlineDO.business != null">
                business = #{bugOnlineDO.business},
            </if>
            <if test="bugOnlineDO.describe != null">
                `describe` = #{bugOnlineDO.describe},
            </if>
            <if test="bugOnlineDO.prevStatus != null">
                prev_status = #{bugOnlineDO.prevStatus},
            </if>
            <if test="bugOnlineDO.hangUp != null">
                hang_up = #{bugOnlineDO.hangUp},
            </if>
            <if test="bugOnlineDO.status != null">
                status = #{bugOnlineDO.status},
            </if>
            <if test="true">
                dismiss_cause = #{bugOnlineDO.dismissCause},
            </if>
            <if test="bugOnlineDO.problemReason != null">
                problem_reason = #{bugOnlineDO.problemReason},
            </if>
            <if test="bugOnlineDO.solveScheme != null">
                solve_scheme = #{bugOnlineDO.solveScheme},
            </if>
            <if test="true">
                repair_fail_reason = #{bugOnlineDO.repairFailReason},
            </if>
            <if test="bugOnlineDO.openAgainReason != null">
                open_again_reason = #{bugOnlineDO.openAgainReason},
            </if>
            <if test="bugOnlineDO.isDeleted != null">
                is_deleted = #{bugOnlineDO.isDeleted},
            </if>
            <if test="bugOnlineDO.modelId != null">
                model_id = #{bugOnlineDO.modelId},
            </if>
            <if test="bugOnlineDO.detailVersionId != null">
                detail_version_id = #{bugOnlineDO.detailVersionId},
            </if>
            <if test="true">
                modify_man_id = #{modifyManId},
                modify_man = #{modifyMan}
            </if>
        </set>
        <where>
            id = #{bugOnlineDO.id}
        </where>
    </update>

    <update id="fullUpdate">
        update bug_online
        <set>
            name = #{bugOnlineDO.name},
            operator = #{bugOnlineDO.operator},
            operator_id = #{bugOnlineDO.operatorId},
            last_operator = #{bugOnlineDO.lastOperator},
            last_operator_id = #{bugOnlineDO.lastOperatorId},
            proposer = #{bugOnlineDO.proposer},
            proposer_id = #{bugOnlineDO.proposerId},
            customer_name = #{bugOnlineDO.customerName},
            biz_demand_id = #{bugOnlineDO.bizDemandId},
            env = #{bugOnlineDO.env},
            belong = #{bugOnlineDO.belong},
            priority = #{bugOnlineDO.priority},
            recurrent = #{bugOnlineDO.recurrent},
            reason = #{bugOnlineDO.reason},
            expect_date = #{bugOnlineDO.expectDate},
            business = #{bugOnlineDO.business},
            `describe` = #{bugOnlineDO.describe},
            prev_status = #{bugOnlineDO.prevStatus},
            hang_up = #{bugOnlineDO.hangUp},
            `status` = #{bugOnlineDO.status},
            dismiss_cause = #{bugOnlineDO.dismissCause},
            problem_reason = #{bugOnlineDO.problemReason},
            solve_scheme = #{bugOnlineDO.solveScheme},
            repair_fail_reason = #{bugOnlineDO.repairFailReason},
            open_again_reason = #{bugOnlineDO.openAgainReason},
            is_deleted = #{bugOnlineDO.isDeleted},
            model_id = #{bugOnlineDO.modelId},
            detail_version_id = #{bugOnlineDO.detailVersionId},
            modify_man_id = #{modifyManId},
            modify_man = #{modifyMan}
        </set>
        <where>
            id = #{bugOnlineDO.id}
        </where>
    </update>

</mapper>
























