<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
<mapper namespace="com.timevale.forward.dal.dao.BugOfflineMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into bug_offline(project_id, product_line_id, name, status, operator, operator_id,last_operator,last_operator_id, proposer, proposer_id,
                                priority, env, reason, source, belong, frequency, `desc`, open_count, origin, create_man_id, create_man)
        values (#{projectId}, #{productLineId}, #{name}, #{status}, #{operator}, #{operatorId},#{lastOperator}, #{lastOperatorId}, #{proposer}, #{proposerId},
                #{priority}, #{env}, #{reason}, #{source}, #{belong}, #{frequency}, #{desc}, #{openCount},#{origin}, #{createManId}, #{createMan})
    </insert>

    <update id="update">
        update bug_offline
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="projectId != null">
                project_id = #{projectId},
            </if>
            <if test="productLineId != null">
                product_line_id = #{productLineId},
            </if>
            <if test="status != null">
                `status` = #{status},
            </if>
            <if test="lastOperator != null and lastOperator != ''">
                last_operator = #{lastOperator},
            </if>
            <if test="lastOperatorId != null and lastOperatorId != ''">
                last_operator_id = #{lastOperatorId},
            </if>
            <if test="operator != null and operator != ''">
                operator = #{operator},
            </if>
            <if test="operatorId != null and operatorId != ''">
                operator_id = #{operatorId},
            </if>
            <if test="proposer != null and proposer != ''">
                proposer = #{proposer},
            </if>
            <if test="proposerId != null and proposerId != ''">
                proposer_id = #{proposerId},
            </if>
            <if test="priority != null">
                priority = #{priority},
            </if>
            <if test="env != null">
                env = #{env},
            </if>
            <if test="reason != null">
                reason = #{reason},
            </if>
            <if test="source != null">
                `source` = #{source},
            </if>
            <if test="belong != null">
                belong = #{belong},
            </if>
            <if test="frequency != null">
                frequency = #{frequency},
            </if>
            <if test="desc != null">
                `desc` = #{desc},
            </if>
            <if test="openCount != null">
                open_count = #{openCount},
            </if>
            <if test="returnCount != null">
                return_count = #{returnCount},
            </if>
            <if test="cause != null and cause != ''">
                cause = #{cause},
            </if>
            <if test="solvePlan != null and solvePlan != ''">
                solve_plan = #{solvePlan},
            </if>
            <if test="expectSolveDate != null">
                expect_solve_date = #{expectSolveDate},
            </if>
            <if test="true">
                delay_handle_reason = #{delayHandleReason},
            </if>
            <if test="true">
                unhandle_reason = #{unhandleReason},
            </if>
            <if test="true">
                modify_man_id = #{modifyManId},
                modify_man = #{modifyMan}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectById" resultType="com.timevale.forward.dal.entity.BugOfflineDO">
        select id, project_id, product_line_id, name, status, last_operator, last_operator_id, operator, operator_id,
               proposer, proposer_id, priority, env, reason, source, belong, frequency, `desc`, open_count, return_count,
               delay_handle_reason, unhandle_reason, cause, solve_plan, expect_solve_date,
               is_deleted, create_man_id, create_man, create_date, modify_man_id, modify_man, modify_date
        from bug_offline
        where id = #{id} and is_deleted = false
    </select>

    <select id="selectByCondition" resultType="com.timevale.forward.dal.entity.BugOfflineListDO">
        select bo.id, bo.status, bo.operator, bo.operator_id, bo.proposer, bo.proposer_id, bo.priority, bo.env, bo.reason, bo.source, bo.belong,
        bo.return_count, bo.unhandle_reason, bo.open_count, bo.expect_solve_date,
        bo.create_date, bo.modify_date,
        bo.name bugName,
        p.name projectName, p.status projectStatus,
        pl.name productLineName,
        bd.name bizDomainName
        from bug_offline bo
        left join project p on bo.project_id = p.id
        join product_line pl on pl.id = bo.product_line_id
        join biz_domain bd on pl.biz_domain_id = bd.id
        <where>
            <if test="containIds!=null and containIds.size()>0">
                and bo.id  in
                <foreach collection="containIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="name != null and name != '' ">
                and bo.name like concat('%',#{name},'%')
            </if>
            <if test="status != null and status.size() > 0">
                and bo.status in
                <foreach collection="status" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="operatorIds != null and operatorIds.size() > 0">
                and bo.operator_id in
                <foreach collection="operatorIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="proposerIds != null and proposerIds.size() > 0">
                and bo.proposer_id in
                <foreach collection="proposerIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="projectIds != null and projectIds.size() > 0">
                and bo.project_id in
                <foreach collection="projectIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="productLineIds != null and productLineIds.size() > 0">
                and bo.product_line_id in
                <foreach collection="productLineIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="bizDomainIds != null and bizDomainIds.size() > 0">
                and bd.id in
                <foreach collection="bizDomainIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="priorities != null and priorities.size() > 0">
                and bo.priority in
                <foreach collection="priorities" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="envs != null and envs.size() > 0">
                and bo.env in
                <foreach collection="envs" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="reasons != null and reasons.size() > 0">
                and bo.reason in
                <foreach collection="reasons" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="sources != null and sources.size() > 0">
                and bo.source in
                <foreach collection="sources" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="belongs != null and belongs.size() > 0">
                and bo.belong in
                <foreach collection="belongs" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="createDateLeft != null and createDateRight != null">
                and bo.create_date &gt;= #{createDateLeft} and bo.create_date &lt;= #{createDateRight}
            </if>
            <if test="modifyDateLeft != null and modifyDateRight != null">
                and bo.modify_date &gt;= #{modifyDateLeft} and bo.modify_date &lt;= #{modifyDateRight}
            </if>
            <if test="returnCountType != null and returnCount != null">
                <if test="returnCountType == 0">and bo.return_count = #{returnCount}</if>
                <if test="returnCountType == 1">and bo.return_count &gt; #{returnCount}</if>
                <if test="returnCountType == 2">and bo.return_count &gt;= #{returnCount}</if>
                <if test="returnCountType == 3">and bo.return_count &lt; #{returnCount}</if>
                <if test="returnCountType == 4">and bo.return_count &lt;= #{returnCount}</if>
            </if>
            <if test="openCountType != null and openCount != null">
                <if test="openCountType == 0">and bo.open_count = #{openCount}</if>
                <if test="openCountType == 1">and bo.open_count &gt; #{openCount}</if>
                <if test="openCountType == 2">and bo.open_count &gt;= #{openCount}</if>
                <if test="openCountType == 3">and bo.open_count &lt; #{openCount}</if>
                <if test="openCountType == 4">and bo.open_count &lt;= #{openCount}</if>
            </if>
            <if test="copier!=null and copier!='' ">
                and bo.id IN (
                select p.main_id
                from person p
                where p.user_id = #{copier}
                and p.type = 50
                and p.is_deleted = false
                )
            </if>
            <if test="true">
                and bo.is_deleted = false
            </if>
            <if test="proposerLike != null and proposerLike != ''">
                and bo.proposer like concat('%',#{proposerLike},'%')
            </if>
        </where>
    </select>

    <select id="selectByMembers" resultType="com.timevale.forward.dal.entity.BugOfflineDO">
        select id, project_id, product_line_id, name, status, last_operator, last_operator_id, operator, operator_id,
        proposer, proposer_id, priority, env, reason, source, belong, frequency, `desc`, open_count, return_count,
        delay_handle_reason, unhandle_reason, is_deleted, create_man_id, create_man, create_date, modify_man_id,
        modify_man, modify_date
        from bug_offline
        <where>
            <if test="true">is_deleted = false</if>
            <if test="userIds != null and userIds.size() > 0">
                and (operator_id in
                <foreach collection="userIds" separator="," item="item" open="(" close=")">
                    #{item}
                </foreach>
                or proposer_id in
                <foreach collection="userIds" separator="," item="item" open="(" close=")">
                    #{item}
                </foreach>
                )
            </if>
        </where>
    </select>

    <select id="selectByProjectId" resultType="com.timevale.forward.dal.entity.BugOfflineDO">
        select id, project_id, product_line_id, name, status, last_operator, last_operator_id, operator, operator_id,
               proposer, proposer_id, priority, env, reason, source, belong, frequency, `desc`, open_count, return_count,
               delay_handle_reason, unhandle_reason, is_deleted, create_man_id, create_man, create_date, modify_man_id, modify_man, modify_date
        from bug_offline
        where project_id = #{projectId}
        and is_Deleted = false
    </select>

    <select id="getBugCount" resultType="com.timevale.forward.dal.dto.BugOfflineCountDTO">
        select operator_id                  as user_id,
               operator                     as user_name,
               count(*)                     as wait_repair_count,
               sum(IF(priority &lt; 20, 1, 0)) as urgent_repair_count
        from bug_offline
        where status in ( 0,1 )
          and project_id = #{projectId}
          and is_deleted = false
        group by operator_id
    </select>
    <select id="getReasonDistribution"
            resultType="com.timevale.forward.dal.dto.BugOfflineReasonDistributionDTO">
        select reason, count(*) as count
        from bug_offline
        where project_id = #{projectId}
          and status != 6
          and is_deleted = false
        group by reason
        order by count desc
    </select>
    <select id="getBelongDistribution"
            resultType="com.timevale.forward.dal.dto.BugOfflineBelongDistributionDTO">
        select belong, count(*) as count
        from bug_offline
        where project_id = #{projectId}
          and status != 6
          and is_deleted = false
        group by belong
        order by count desc
    </select>

    <update id="deleteById">
        update bug_offline
        <set>
            <if test="true">is_deleted=true,</if>
            <if test="modifyMan != null">modify_man = #{modifyMan},</if>
            <if test="modifyManId != null">modify_man_id = #{modifyManId},</if>
        </set>
        where id=#{bugOfflineId}
    </update>

    <update id="unlinkBugOffline">
        <if test="bugOfflineDOList != null and bugOfflineDOList.size() > 0">
            update bug_offline
            set project_id = 0
            where id in
            <foreach collection="bugOfflineDOList" item="item" open="(" close=")" separator=",">
                #{item.id}
            </foreach>
        </if>
    </update>
</mapper>
