<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timevale.forward.dal.dao.BugOnlineProductLineMapper">
    <select id="selectProductLineIds" resultType="Long">
        select product_line_id from bug_online_product_line
        where bug_online_id = #{id} and type = #{type} and is_deleted = 0
    </select>

    <select id="selectByBugOnlineIdList" resultType="com.timevale.forward.dal.entity.BugOnlineProductLineDO">
        SELECT bug_online_id, product_line_id
        FROM bug_online_product_line
        <where>
            <if test="bugOnlineIdList != null and bugOnlineIdList.size() > 0">
                AND bug_online_id IN
                <foreach collection="bugOnlineIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="true">
                and type = #{type}   AND is_deleted = false
            </if>
        </where>
    </select>

    <select id="selectByCondition" resultType="java.lang.Long">
        SELECT bopl.bug_online_id
        FROM bug_online_product_line bopl
        LEFT JOIN product_line pl ON bopl.product_line_id = pl.id
        <where>
            <if test="productLineIdList != null and productLineIdList.size() > 0">
                AND bopl.product_line_id IN
                <foreach collection="productLineIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="bizDomainIdList != null and bizDomainIdList.size() > 0">
                AND pl.biz_domain_id IN
                <foreach collection="bizDomainIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="true">
                AND bopl.is_deleted = false
                AND pl.is_deleted = false
            </if>
        </where>
    </select>

    <insert id="batchInsert">
        insert into bug_online_product_line(bug_online_id,product_line_id,type,create_man,create_man_id) values
        <foreach collection="bugOnlineProductLineDOList" item="bugOnlineProductLineDO" separator=",">
            (#{bugOnlineProductLineDO.bugOnlineId},#{bugOnlineProductLineDO.productLineId},#{bugOnlineProductLineDO.type},#{createMan},#{createManId})
        </foreach>
    </insert>

    <update id="update">
        update bug_online_product_line
        <set>
            <if test="bugOnlineProductLineDO.productLineId != null">
                product_line_id = #{bugOnlineProductLineDO.productLineId},
            </if>
            <if test="bugOnlineProductLineDO.bugOnlineId != null">
                bug_online_id = #{bugOnlineProductLineDO.bugOnlineId},
            </if>
            <if test="true">
                is_deleted = #{bugOnlineProductLineDO.isDeleted},
                modify_man_id = #{bugOnlineProductLineDO.modifyManId},
                modify_man = #{bugOnlineProductLineDO.modifyMan},
            </if>
        </set>
        where bug_online_id = #{bugOnlineProductLineDO.bugOnlineId} and type = #{bugOnlineProductLineDO.type}
    </update>
</mapper>