<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timevale.forward.dal.dao.BugStatusOperatorMapper">
    <select id="batchSelectByBugIds" resultType="com.timevale.forward.dal.entity.BugStatusOperatorDO">
        select * from bug_status_operator
        where bug_log_id in
        <foreach collection="bugIds" separator="," item="bugLogId" open="(" close=")">
            #{bugLogId}
        </foreach>
        order by `create_date` desc,`id` DESC
    </select>

    <insert id="insert">
        insert into bug_status_operator(bug_log_id,operator,operator_id,create_man,create_man_id)
        values(#{bugStatusOperatorDO.bugLogId},#{bugStatusOperatorDO.operator},#{bugStatusOperatorDO.operatorId}
        ,#{createMan},#{createManId})
    </insert>

    <update id="deleteByBugLogId">
        update bug_status_operator
        set is_deleted = 1
        where bug_log_id in
        <foreach collection="bugLogStatusIdList" item="bugLogStatusId" separator="," open="(" close=")">
            #{bugLogStatusId}
        </foreach>
    </update>
</mapper>