<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
<mapper namespace="com.timevale.forward.dal.dao.FileMapper">

    <select id="select" resultType="com.timevale.forward.dal.entity.FileDO">
        select id ,attache_id, type, name fileName , file_id, is_deleted,create_man ,create_date ,modify_man ,modify_date
        from file
        where is_deleted = false
        <if test="attacheId!=null">and attache_id = #{attacheId}</if>
        <if test="type!=null">and type = #{type}</if>
    </select>

    <insert id="insert" parameterType="com.timevale.forward.dal.entity.FileDO">
        insert into file (attache_id, type, name , file_id, create_man_id, create_man)
        values
        (#{attacheId}, #{type}, #{fileName}, #{fileId}, #{createManId}, #{createMan})
    </insert>

    <insert id="inserts" parameterType="java.util.List">
        insert into file (attache_id, type, name , file_id, create_man_id, create_man)
        values
        <foreach collection="list" item="i" open="" separator="," close="">
            (#{i.attacheId}, #{i.type}, #{i.fileName}, #{i.fileId}, #{i.createManId}, #{i.createMan})
        </foreach>
    </insert>

    <update id="update" parameterType="com.timevale.forward.dal.entity.FileDO">
        update file
        <set>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="modifyMan != null">modify_man = #{modifyMan},</if>
            <if test="modifyManId != null">modify_man_id = #{modifyManId},</if>
        </set>
        <where>
            <if test="id!=null">and id = #{id}</if>
            <if test="attacheId!=null">and attache_id = #{attacheId}</if>
            <if test="type!=null">and type = #{type}</if>
        </where>
  </update>


</mapper>
