<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
<mapper namespace="com.timevale.forward.dal.dao.HistoryRecordMapper">

    <insert id="insert">
        INSERT INTO history_record(project_id, record_content, version, create_man_id, create_man)
        VALUES
        (#{projectId}, #{recordContent}, #{version}, #{createManId}, #{createMan})
    </insert>

    <select id="selectLast" resultType="com.timevale.forward.dal.entity.HistoryRecordDO">
        SELECT *
        FROM history_record
        WHERE project_id = #{projectId}
          AND is_deleted = false
        ORDER BY version DESC
        LIMIT 1
    </select>

    <select id="selectByProjectId" resultType="com.timevale.forward.dal.entity.HistoryRecordDO">
        SELECT *
        FROM history_record
        WHERE project_id = #{projectId}
          AND is_deleted = false
    </select>

</mapper>
