<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
<mapper namespace="com.timevale.forward.dal.dao.ImprovementMeasureMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO improvement_measure(trouble_ticket_id, name, executor, executor_id, implementation_time,
                                        todo, todo_id, status, create_man_id, create_man)
        VALUES (#{troubleTicketId}, #{name}, #{executor}, #{executorId}, #{implementationTime}, #{todo}, ifnull(#{todoId},''),
                #{status}, #{createManId}, #{createMan})
    </insert>

    <update id="update">
        UPDATE improvement_measure
        <set>
            <if test="troubleTicketId != null">trouble_ticket_id = #{troubleTicketId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="executor != null">executor = #{executor},</if>
            <if test="executorId != null">executor_id = #{executorId},</if>
            <if test="implementationTime != null">implementation_time = #{implementationTime},</if>
            <if test="todo != null">todo = #{todo},</if>
            <if test="todoId != null">todo_id = #{todoId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="modifyMan != null">modify_man = #{modifyMan},</if>
            <if test="modifyManId != null">modify_man_id = #{modifyManId},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="content != null and content != ''">content = #{content},</if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
    <update id="batchUpdateStatus">
        UPDATE improvement_measure
        <set>
            <if test="status != null">status = #{status},</if>
            <if test="modifyMan != null">modify_man = #{modifyMan},</if>
            <if test="modifyManId != null">modify_man_id = #{modifyManId},</if>
        </set>
        <where>
            <if test="idList != null and idList.size() > 0">
                AND id IN
                <foreach collection="idList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </update>

    <select id="selectByCondition" resultType="com.timevale.forward.dal.entity.ImprovementMeasureDO">
        SELECT id, trouble_ticket_id, name, executor, executor_id, implementation_time, todo, todo_id, status,content,
               is_deleted, create_man_id, create_man, create_date, modify_man_id, modify_man, modify_date
        FROM improvement_measure
        <where>
            <if test="id != null">AND id = #{id}</if>
            <if test="troubleTicketId != null">AND trouble_ticket_id = #{troubleTicketId}</if>
            <if test="name != null">AND name = #{name}</if>
            <if test="executor != null">AND executor = #{executor}</if>
            <if test="executorId != null">AND executor_id = #{executorId}</if>
            <if test="implementationTime != null">AND implementation_time = #{implementationTime}</if>
            <if test="todo != null">AND todo = #{todo}</if>
            <if test="todoId != null">AND todo_id = #{todoId}</if>
            <if test="status != null">AND status = #{status}</if>
            <if test="createMan != null">AND create_man = #{createMan}</if>
            <if test="createManId != null">AND create_man_id = #{createManId}</if>
            <if test="createDate != null">AND create_date = #{createDate}</if>
            <if test="modifyMan != null">AND modify_man = #{modifyMan}</if>
            <if test="modifyManId != null">AND modify_man_id = #{modifyManId}</if>
            <if test="modifyDate != null">AND modify_date = #{modifyDate}</if>
            <if test="isDeleted != null">AND is_deleted = #{isDeleted}</if>
        </where>
    </select>

    <select id="selectByTroubleTicketId" resultType="com.timevale.forward.dal.entity.ImprovementMeasureDO">
        SELECT id, executor, executor_id, todo, todo_id
        FROM improvement_measure
        WHERE trouble_ticket_id = #{troubleTicketId}
        AND is_deleted = false
    </select>

    <select id="selectByTroubleTicketIds" resultType="com.timevale.forward.dal.entity.ImprovementMeasureDO">
        SELECT id, executor, executor_id, todo, todo_id,status,trouble_ticket_id
        FROM improvement_measure
        WHERE trouble_ticket_id in
        <foreach collection="troubleTicketIds" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        AND is_deleted = false
    </select>


    <select id="selectByIds" resultType="com.timevale.forward.dal.entity.ImprovementMeasureDO">
        SELECT id, executor, executor_id, todo, todo_id,status
        FROM improvement_measure
        WHERE id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        AND is_deleted = false
    </select>
</mapper>
