<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timevale.forward.dal.dao.ManDayMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert man_day (project_id, member_id, member_name, actual_man_day, week_start_date, week_end_date,
                        create_man_id, create_man)
        values (#{projectId}, #{memberId}, #{memberName}, #{actualManDay}, #{weekStartDate}, #{weekEndDate},
                #{createManId}, #{createMan})
    </insert>

    <update id="delete">
        update man_day
        set is_deleted    = true,
            modify_man_id = #{modifyManId},
            modify_man    = #{modifyMan}
        where id = #{id}
    </update>

    <update id="updateActualManDay">
        update man_day
        set actual_man_day = #{actualManDay},
            modify_man_id  = #{modifyManId},
            modify_man     = #{modifyMan}
        where id = #{id}
    </update>

    <update id="updateAudit">
        update man_day
        <set>
            <if test="auditManDay != null">audit_man_day = #{auditManDay},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            <if test="rejectReason != null">reject_reason = #{rejectReason},</if>
            modify_man_id  = #{modifyManId},
            modify_man     = #{modifyMan}
        </set>
        where id = #{id}
    </update>

    <select id="getById" resultType="com.timevale.forward.dal.entity.ManDayDO">
        select *
        from man_day
        where id = #{id}
          and is_deleted = false
    </select>
    <select id="getByIds" resultType="com.timevale.forward.dal.entity.ManDayDO">
        select *
        from man_day
        where id in
            <foreach collection="ids" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
          and is_deleted = false
    </select>
    <select id="getByProjectId" resultType="com.timevale.forward.dal.entity.ManDayDO">
        select *
        from man_day
        where project_id = #{projectId}
          and is_deleted = false
        order by week_start_date desc
    </select>
    <select id="getByStartDate" resultType="com.timevale.forward.dal.entity.ManDayDO">
        select *
        from man_day
        where week_start_date = #{startDate}
          and is_deleted = false
    </select>
    <select id="getByProjectIdAndStartDates" resultType="com.timevale.forward.dal.entity.ManDayDO">
        select *
        from man_day
        where project_id = #{projectId}
        <if test="startDates != null and startDates.size() > 0">
            and week_start_date in
            <foreach collection="startDates" item="startDate" open="(" separator="," close=")">
                #{startDate}
            </foreach>
        </if>
        <if test="memberIds != null and memberIds.size() > 0">
            and member_id in
            <foreach collection="memberIds" item="memberId" open="(" separator="," close=")">
                #{memberId}
            </foreach>
        </if>
        and is_deleted = false
    </select>
    <select id="sumProjectActualDays" resultType="java.math.BigDecimal">
        select sum(actual_man_day)
        from man_day
        where project_id = #{projectId}
          and is_deleted = false
    </select>

    <select id="listAlreadyCreateProject" resultType="java.lang.Long">
        select project_id
        from man_day
        where week_end_date = #{sunday,jdbcType=VARCHAR}
        <if test="projectList != null and projectList.size() > 0">
            and project_id in
            <foreach collection="projectList" item="item" open="(" separator="," close=")">
                #{item.id,jdbcType=BIGINT}
            </foreach>
        </if>
        and audit_status = 0
        and is_deleted = false
    </select>
</mapper>
