<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
<mapper namespace="com.timevale.forward.dal.dao.ModelMapper">

    <select id="selectAllModel" resultType="com.timevale.forward.dal.entity.ModelDO">
        select id, product_line_id, name, owner, owner_id, is_deleted,create_man ,create_date ,modify_man ,modify_date
        from model
    </select>

    <select id="get" resultType="com.timevale.forward.dal.entity.ModelDO">
        select id, product_line_id, name, owner, owner_id, is_deleted,create_man ,create_date ,modify_man ,modify_date
        from model
        where id = #{id}
    </select>

    <select id="getByIds" resultType="com.timevale.forward.dal.entity.ModelDO">
        select id, product_line_id, name, owner, owner_id, is_deleted,create_man ,create_date ,modify_man ,modify_date
        from model
        <where>
            <if test="ids!=null and ids.size()>0">
                and id in
                <foreach collection="ids" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getByProductLineId" resultType="com.timevale.forward.dal.entity.ModelDO">
        select id, product_line_id, name, owner, owner_id, is_deleted,create_man ,create_date ,modify_man ,modify_date
        from model
        <where>
            <if test="productLineIds!=null and productLineIds.size()>0">
                and product_line_id in
                <foreach collection="productLineIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            and is_deleted = false
        </where>
    </select>

    <insert id="insert" parameterType="com.timevale.forward.dal.entity.ModelDO">
        insert into model (product_line_id, name, owner, owner_id)
        values
        (#{productLineId}, #{name},#{owner},#{ownerId})
    </insert>

    <update id="update" parameterType="com.timevale.forward.dal.entity.ModelDO">
        update model
        <set>
            <if test="productLineId != null">product_line_id = #{productLineId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="owner != null">owner = #{owner},</if>
            <if test="ownerId != null">owner_id = #{ownerId},</if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

</mapper>

