<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
<mapper namespace="com.timevale.forward.dal.dao.PersonMapper">

    <select id="select" resultType="com.timevale.forward.dal.entity.PersonDO">
        select id ,main_id,user_name,user_id, type, person_level, is_deleted,create_man ,create_date ,modify_man ,modify_date
        from person
        <where>
            <if  test="true">and is_deleted = false</if>
            <if test="mainId!=null">and main_id = #{mainId}</if>
            <if test="type!=null">and type = #{type}</if>
            <if test="personLevel!=null">and person_level = #{personLevel}</if>
        </where>
    </select>

    <insert id="insert" parameterType="com.timevale.forward.dal.entity.PersonDO">
        insert into person (main_id,user_name,user_id, type, create_man_id, create_man)
        values
        (#{mainId}, #{userName},#{userId},#{type}, #{createManId}, #{createMan})
    </insert>

    <insert id="inserts" parameterType="java.util.List">
        insert into person (main_id,user_name,user_id, type, person_level, create_man_id, create_man)
        values
        <foreach collection="list" item="i" open="" separator="," close="">
            (#{i.mainId}, #{i.userName},#{i.userId},#{i.type}, #{i.personLevel}, #{createManId}, #{createMan})
        </foreach>
    </insert>

    <update id="update" parameterType="com.timevale.forward.dal.entity.PersonDO">
        update person
        <set>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="modifyMan != null">modify_man = #{modifyMan},</if>
            <if test="modifyManId != null">modify_man_id = #{modifyManId},</if>
        </set>
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="userId != null">and user_id = #{userId}</if>
            <if test="mainId!=null">and main_id = #{mainId}</if>
            <if test="type != null">and type = #{type}</if>
            <if test="personLevel != null">and person_level = #{personLevel}</if>
        </where>
    </update>

    <update id="updateLevel">
        UPDATE person
        SET person_level = #{personLevel},
            modify_man = #{modifyMan},
            modify_man_id = #{modifyManId}
        <where>
            AND main_id = #{mainId}
            AND type = #{type}
            AND user_id IN
            <foreach collection="userIdList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </where>
    </update>

    <update id="removeByCondition">
        update person
        <trim prefix="SET" suffixOverrides=",">
            is_deleted = 1,
            <if test="modifyMan != null">modify_man = #{modifyMan},</if>
            <if test="modifyManId != null">modify_man_id = #{modifyManId},</if>
        </trim>
        <where>
            <if test="condition.mainId2PersonId != null and condition.mainId2PersonId.size() > 0">
                AND
                <foreach collection="condition.mainId2PersonId" item="pair" open="(" separator=" OR " close=")">
                    (main_id = #{pair.first} AND user_id = #{pair.second})
                </foreach>
            </if>
            <if test="condition.type != null">AND type = #{condition.type}</if>
        </where>
    </update>

    <select id="getMainIds" resultType="long">
        select distinct main_id
        from person
        <where>
            and user_id in
            <foreach collection="userIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            <if test="mainIds!=null and mainIds.size()>0">
                and main_id in
                <foreach collection="mainIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            and type = #{type} and is_deleted=false
        </where>
    </select>

    <select id="get" resultType="com.timevale.forward.dal.entity.PersonDO">
        select id ,main_id,user_name,user_id, type,is_deleted,create_man ,create_date ,modify_man ,modify_date
        from person
        <where>
            <if test="mainIds!=null and mainIds.size()>0">
                and main_id in
                <foreach collection="mainIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            and type = #{type} and is_deleted=false
        </where>
    </select>

    <select id="getPersons" resultType="com.timevale.forward.dal.entity.PersonDO">
        select id ,main_id,user_name,user_id, type,is_deleted,create_man ,create_date ,modify_man ,modify_date
        from person
        <where>
            and user_id in
            <foreach collection="userIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            <if test="mainIds!=null and mainIds.size()>0">
                and main_id in
                <foreach collection="mainIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            and type = #{type} and is_deleted=false
        </where>
    </select>

    <select id="selectByUserIds" resultType="com.timevale.forward.dal.entity.PersonDO">
        select id ,main_id,user_name,user_id, type,is_deleted,create_man ,create_date ,modify_man ,modify_date
        from person
        <where>
            and user_id in
            <foreach collection="userIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            and is_deleted=false
        </where>
    </select>


</mapper>
