<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timevale.forward.dal.dao.ProductDemandDescRecordMapper">


    <select id="listByProductDemandId" resultType="com.timevale.forward.dal.entity.ProductDemandDescRecordDO">
        select *
        from product_demand_desc_record
        where product_demand_id = #{productDemandId}
          and is_deleted = false
        order by id desc
    </select>
</mapper>
