<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
<mapper namespace="com.timevale.forward.dal.dao.ProductLineMapper">

    <select id="selectAllProductLine" resultType="com.timevale.forward.dal.entity.ProductLineDO">
        select id, biz_domain_id, name, owner, is_deleted,create_man ,create_date ,modify_man ,modify_date
        from product_line
    </select>

    <select id="selectById" resultType="com.timevale.forward.dal.entity.ProductLineDO">
        select id, biz_domain_id, name, owner, is_deleted, create_man_id, create_man, create_date, modify_man_id, modify_man, modify_date, owner_id
        from product_line
        where id = #{id}
    </select>

    <select id="get" resultType="com.timevale.forward.dal.entity.ProductLineDO">
        select a.id,a.name
        from product_line a
        left join project_product_line b on a.id=b.product_line_id
        where b.project_id = #{projectId} and b.is_deleted = false and a.id is not null
    </select>
</mapper>
