<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timevale.forward.dal.dao.ProductDemandDescFlowMapper">
    <insert id="insert">
        insert into product_demand_desc_flow (product_demand_id, flow_id, last_flow_id, stage, `desc`,
                                              change_desc, change_type, other_reason, reason, pm_id, pm, po_id, po,
                                              review_fail_reason, status, create_man_id, create_man)
        values (#{productDemandId}, #{flowId}, #{lastFlowId}, #{stage}, #{desc}, #{changeDesc}, #{changeType},
                #{otherReason}, #{reason}, #{pmId}, #{pm}, #{poId}, #{po},
                #{reviewFailReason}, 0, #{createManId}, #{createMan})
    </insert>
    <update id="update">
        update product_demand_desc_flow
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="reviewFailReason != null">
                review_fail_reason = #{reviewFailReason},
            </if>
            <if test="modifyManId != null">
                modify_man_id = #{modifyManId},
            </if>
            <if test="modifyMan != null">
                modify_man = #{modifyMan},
            </if>
        </set>
        where id = #{id} and is_deleted = false
    </update>


    <select id="getLastByProductDemandId" resultType="com.timevale.forward.dal.entity.ProductDemandDescFlowDO">
        select *
        from product_demand_desc_flow
        where product_demand_id = #{productDemandId}
          and is_deleted = false
        order by id desc
        limit 1
    </select>

    <select id="getAuditingByFlowId" resultType="com.timevale.forward.dal.entity.ProductDemandDescFlowDO">
        select *
        from product_demand_desc_flow
        where flow_id = #{flowId}
          and `status` = 0
          and is_deleted = false
        order by id desc
        limit 1
    </select>
</mapper>
