<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
<mapper namespace="com.timevale.forward.dal.dao.ProductLineMapper">

    <select id="selectAllProductLine" resultType="com.timevale.forward.dal.entity.ProductLineDO">
        select id, biz_domain_id, name, owner, owner_id,bug_online_owner_id,bug_online_owner, is_deleted,create_man ,create_date ,modify_man ,modify_date
        from product_line
    </select>

    <select id="selectById" resultType="com.timevale.forward.dal.entity.ProductLineDO">
        select id, biz_domain_id, name, owner, owner_id,bug_online_owner_id,bug_online_owner, is_deleted, create_man_id, create_man, create_date, modify_man_id, modify_man, modify_date
        from product_line
        where id = #{id}
    </select>

    <select id="get" resultType="com.timevale.forward.dal.entity.ProductLineDO">
        select a.id,a.name,a.is_deleted
        from product_line a
        left join project_product_line b on a.id=b.product_line_id
        where b.project_id = #{projectId} and b.is_deleted = false and a.id is not null
    </select>

    <select id="getByProjectIds" resultType="com.timevale.forward.dal.entity.ProjectProductLineBizDomain">
        select b.project_id,c.id product_line_id,c.name productLineName,c.is_deleted,d.name bizDomainName
        from project_product_line b
        left join product_line c on b.product_line_id=c.id
        left join biz_domain d on c.biz_domain_id=d.id
        <where>
            and b.project_id in
            <foreach collection="projectIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            and b.is_deleted=false
        </where>
    </select>

    <select id="selectByIds" resultType="com.timevale.forward.dal.entity.ProductLineDO">
        select id, biz_domain_id, name, owner, owner_id,bug_online_owner_id,bug_online_owner, is_deleted, create_man_id, create_man, create_date, modify_man_id, modify_man, modify_date
        from product_line
        <where>
            <if test="ids != null and ids.size() > 0">
                and id in
                <foreach collection="ids" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getById" resultType="com.timevale.forward.dal.entity.ProjectProductLineBizDomain">
        select a.id product_line_id,a.name productLineName,b.name bizDomainName
        from product_line a
        left join biz_domain b on a.biz_domain_id=b.id
        where a.id = #{id}
    </select>

    <select id="getBizDomainId" resultType="com.timevale.forward.dal.entity.ProductLineDO">
        select id, biz_domain_id, name, owner, owner_id,bug_online_owner_id,bug_online_owner, is_deleted, create_man_id, create_man, create_date, modify_man_id, modify_man, modify_date
        from product_line
        where biz_domain_id = #{bizDomainId} and is_deleted = false
    </select>
</mapper>
