<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
<mapper namespace="com.timevale.forward.dal.dao.ProductLineMapper">

    <select id="selectAllProductLine" resultType="com.timevale.forward.dal.entity.ProductLineDO">
        select *
        from product_line
        where is_deleted=false
    </select>

    <select id="selectById" resultType="com.timevale.forward.dal.entity.ProductLineDO">
        select *
        from product_line
        where id = #{id}
    </select>

    <select id="get" resultType="com.timevale.forward.dal.entity.ProductLineDO">
        select a.id,a.name,a.listing_status,a.biz_domain_id
        from product_line a
        left join project_product_line b on a.id=b.product_line_id
        where b.project_id=#{projectId} and b.is_deleted=false and a.id is not null
    </select>

    <select id="getByProjectIds" resultType="com.timevale.forward.dal.entity.ProjectProductLineBizDomain">
        select b.project_id,c.id productLineId,c.name productLineName,c.is_deleted,d.name bizDomainName
        from project_product_line b
        left join product_line c on b.product_line_id=c.id
        left join biz_domain d on c.biz_domain_id=d.id
        <where>
            and b.project_id in
            <foreach collection="projectIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            and b.is_deleted=false
        </where>
    </select>

    <select id="getByIds" resultType="com.timevale.forward.dal.entity.ProductLineDO">
        select *
        from product_line
        <where>
            <if test="ids != null and ids.size() > 0">
                and id in
                <foreach collection="ids" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getPlineAndBizDomain" resultType="com.timevale.forward.dal.entity.ProjectProductLineBizDomain">
        select a.id product_line_id,a.biz_domain_id bizDomainId,a.name productLineName,b.name bizDomainName
        from product_line a
        left join biz_domain b on a.biz_domain_id=b.id
        <where>
            <if test="bizDomainIds != null and bizDomainIds.size() > 0">
                and b.id in
                <foreach collection="bizDomainIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            and a.is_deleted = false
        </where>
    </select>

    <select id="getPlineAndBizDomainList" resultType="com.timevale.forward.dal.entity.ProjectProductLineBizDomain">
        select a.id product_line_id,a.biz_domain_id bizDomainId,a.name productLineName,b.name bizDomainName
        from product_line a
        left join biz_domain b on a.biz_domain_id=b.id
        <where>
            <if test="bizDomainIds != null and bizDomainIds.size() > 0">
                and b.id in
                <foreach collection="bizDomainIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="productLineIds != null and productLineIds.size() > 0">
                and a.id in
                <foreach collection="productLineIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            and a.is_deleted = false
        </where>
    </select>

    <select id="getBizDomainId" resultType="com.timevale.forward.dal.entity.ProductLineDO">
        select *
        from product_line
        where biz_domain_id = #{bizDomainId} and is_deleted = false
    </select>

    <insert id="insert" parameterType="com.timevale.forward.dal.entity.ProductLineDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO info_forward.product_line
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bizDomainId!=null">biz_domain_id,</if>
            <if test="name!=null">name,</if>
            <if test="owner!=null">owner,</if>
            <if test="ownerId!=null">owner_id,</if>
            <if test="bugOnlineOwnerId!=null">bug_online_owner_id,</if>
            <if test="bugOnlineOwner!=null">bug_online_owner,</if>
            <if test="srExpert!=null">sr_expert,</if>
            <if test="srExpertId!=null">sr_expert_id,</if>
            <if test="developmentOwner!=null">development_owner,</if>
            <if test="developmentOwnerId!=null">development_owner_id,</if>
            <if test="productLineLevel!=null">product_line_level,</if>
            <if test="createMan!=null">create_man,</if>
            <if test="createManId!=null">create_man_id,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bizDomainId!=null">#{bizDomainId},</if>
            <if test="name!=null">#{name},</if>
            <if test="owner!=null">#{owner},</if>
            <if test="ownerId!=null">#{ownerId},</if>
            <if test="bugOnlineOwnerId!=null">#{bugOnlineOwnerId},</if>
            <if test="bugOnlineOwner!=null">#{bugOnlineOwner},</if>
            <if test="srExpert!=null">#{srExpert},</if>
            <if test="srExpertId!=null">#{srExpertId},</if>
            <if test="developmentOwner!=null">#{developmentOwner},</if>
            <if test="developmentOwnerId!=null">#{developmentOwnerId},</if>
            <if test="productLineLevel!=null">#{productLineLevel},</if>
            <if test="createMan!=null">#{createMan},</if>
            <if test="createManId!=null">#{createManId},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.timevale.forward.dal.entity.ProductLineDO">
        update product_line
        <set>
            <if test="bizDomainId != null">biz_domain_id = #{bizDomainId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="owner != null">owner = #{owner},</if>
            <if test="ownerId != null">owner_id = #{ownerId},</if>
            <if test="bugOnlineOwnerId != null">bug_online_owner_id = #{bugOnlineOwnerId},</if>
            <if test="bugOnlineOwner != null">bug_online_owner = #{bugOnlineOwner},</if>
            <if test="srExpert!=null">sr_expert = #{srExpert},</if>
            <if test="srExpertId!=null">sr_expert_id = #{srExpertId},</if>
            <if test="developmentOwner!=null">development_owner = #{developmentOwner},</if>
            <if test="developmentOwnerId!=null">development_owner_id = #{developmentOwnerId},</if>
            <if test="productLineLevel!=null">product_line_level = #{productLineLevel},</if>
            <if test="modifyMan!=null">modify_man=#{modifyMan},</if>
            <if test="modifyManId!=null">modify_man_id=#{modifyManId},</if>
            <if test="isDeleted != null">is_deleted=#{isDeleted},</if>
            <if test="listingStatus != null">listing_status=#{listingStatus},</if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="getByBizDomainName" resultType="com.timevale.forward.dal.entity.ProductLineDO">
        select a.id ,a.name
        from product_line a
        join biz_domain b on a.biz_domain_id=b.id
        <where>
            <if test="bizDomainName != null and bizDomainName.size() > 0">
                and b.name in
                <foreach collection="bizDomainName" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
                and a.is_deleted = false
            </if>
        </where>
        AND a.is_deleted = false
    </select>

    <select id="selectByCondition" resultType="com.timevale.forward.dal.entity.ProductLineDO">
        select a.*
        from product_line a
        left join biz_domain b on a.biz_domain_id=b.id
        <where>
            <if test="name != null and name!=''">
                a.name like concat('%',#{name},'%')
            </if>
            <if test="ownerIds != null and ownerIds.size() > 0">
                AND a.owner_id IN
                <foreach collection="ownerIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="bugOnlineOwnerIds != null and bugOnlineOwnerIds.size() > 0">
                AND a.bug_online_owner_id IN
                <foreach collection="bugOnlineOwnerIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="bizDomainIds != null and bizDomainIds.size() > 0">
                AND b.id IN
                <foreach collection="bizDomainIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="developmentOwnerIds != null and developmentOwnerIds.size() > 0">
                AND a.development_owner_id IN
                <foreach collection="developmentOwnerIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="productLineLevels != null and productLineLevels.size() > 0">
                AND a.product_line_level IN
                <foreach collection="productLineLevels" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="listingStatus != null">
                AND a.listing_status=#{listingStatus}
            </if>
            <if test="otherOwnerIds != null and otherOwnerIds.size() > 0">
                AND EXISTS (
                    SELECT 1 FROM biz_permission_owner bpo
                    WHERE bpo.scope_biz_id = a.id
                    AND bpo.is_deleted = false
                    AND bpo.permission_scope = 'PRODUCT_LINE_SCOPE'
                    AND bpo.owner_id IN
                    <foreach collection="otherOwnerIds" item="ownerId" separator="," open="(" close=")">
                        #{ownerId}
                    </foreach>
                )
            </if>
            AND a.is_deleted = false
        </where>
    </select>

    <select id="getByBizDomainIds" resultType="java.lang.Long">
        SELECT id
        FROM product_line
        <where>
            AND is_deleted = false
            <if test="bizDomainIds != null and bizDomainIds.size() > 0">
                AND biz_domain_id IN
                <foreach collection="bizDomainIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectByProductLineNames" resultType="com.timevale.forward.dal.entity.ProductLineDO">
        SELECT *
        FROM product_line
        <where>
            AND is_deleted = false
            <if test="names != null and names.size() > 0">
                AND `name` IN
                <foreach collection="names" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <update id="updateProductLineLevel">
        UPDATE info_forward.product_line
        SET product_line_level = #{productLineLevel},
            modify_man = #{modifyMan},
            modify_man_id=#{modifyManId}
        WHERE id = #{id}
    </update>
</mapper>
