<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
<mapper namespace="com.timevale.forward.dal.dao.ProductBizDemandMapper">

    <select id="select" resultType="com.timevale.forward.dal.entity.ProductBizDemandDO">
        select id, product_demand_id, biz_demand_id, is_deleted, create_man_id, create_man, create_date, modify_man_id, modify_man, modify_date
        from product_biz_demand
        <where>
            <if test="id!=null">
                and id = #{id}
            </if>
            <if test="productDemandId!=null">
                and product_demand_id = #{productDemandId}
            </if>
            <if test="bizDemandId!=null">
                and biz_demand_id = #{bizDemandId}
            </if>
            <if test="isDeleted!=null">
                and is_deleted = #{isDeleted}
            </if>
        </where>
    </select>

    <insert id="inserts">
        insert into product_biz_demand (product_demand_id, biz_demand_id, create_man_id, create_man)
        values
        <foreach collection="productBizDemandDOList" item="item" separator=",">
            (#{item.productDemandId}, #{item.bizDemandId}, #{item.createManId}, #{item.createMan})
        </foreach>
    </insert>

    <update id="updates">
        update product_biz_demand
        set is_deleted = #{isDeleted}, modify_man = #{modifyMan}, modify_man_id = #{modifyManId}
        where id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
           #{item}
        </foreach>
    </update>

    <delete id="deleteByBizDemandId">
        update product_biz_demand
        set is_deleted = true, modify_man_id = #{modifyManId}, modify_man = #{modifyMan}
        where biz_demand_id = #{bizDemandId}
    </delete>

    <delete id="delete">
        update product_biz_demand
        set is_deleted = true, modify_man_id = #{modifyManId}, modify_man = #{modifyMan}
        where id = #{id}
    </delete>

    <update id="update" parameterType="com.timevale.forward.dal.entity.ProductBizDemandDO">
        update product_biz_demand
        <set>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="modifyMan != null">modify_man = #{modifyMan},</if>
            <if test="modifyManId != null">modify_man_id = #{modifyManId},</if>
        </set>
        <where>
            <if test="productDemandId!=null">and product_demand_id = #{productDemandId}</if>
            <if test="bizDemandId!=null">and biz_demand_id = #{bizDemandId}</if>
            and is_deleted=false
        </where>
    </update>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into product_biz_demand (product_demand_id,biz_demand_id,create_man_id, create_man)
        values
        <foreach collection="list" item="i" open="" separator="," close="">
            (#{i.productDemandId}, #{i.bizDemandId}, #{i.createManId},#{i.createMan})
        </foreach>
    </insert>

    <select id="getByProductDemandIds" resultType="com.timevale.forward.dal.entity.ProductBizDemandDO">
        select a.id, a.product_demand_id, a.biz_demand_id, a.is_deleted,b.status,b.name,b.create_man_id,b.submit_man_id
        from product_biz_demand a
        join biz_demand b on a.biz_demand_id=b.id
        <where>
            and a.product_demand_id IN
            <foreach item="item" index="index" collection="productDemandIds" open="(" separator="," close=")">
                #{item}
            </foreach>
            and a.is_deleted=false
        </where>
    </select>

    <select id="getByBizDemandId" resultType="com.timevale.forward.dal.entity.ProductBizDemandDO">
        select a.id, a.product_demand_id, a.biz_demand_id, a.is_deleted,b.status
        from product_biz_demand a
        join product_demand b on a.product_demand_id=b.id
        <where>
            and a.biz_demand_id = #{bizDemandId} and a.is_deleted=false
        </where>
    </select>

    <select id="selectByProductDemandIds" resultType="com.timevale.forward.dal.entity.ProductBizDemandDO">
        select a.id, a.product_demand_id, a.biz_demand_id, a.is_deleted
        from product_biz_demand a
        <where>
            and a.product_demand_id IN
            <foreach item="item" index="index" collection="productDemandIds" open="(" separator="," close=")">
                #{item}
            </foreach>
            and a.is_deleted=false
        </where>
    </select>
</mapper>
