<?xml version="1.0" encoding="UTF-8" ?>
<!-- MyBatis的Mapper XML文件 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timevale.forward.dal.dao.ProductDemandGroupItemMapper">
    <!-- 查询产品需求分组内的产品需求列表 -->
    <select id="listProductDemand" resultType="com.timevale.forward.dal.entity.ProductDemandGroupItemListDO">
        select  pdgi.id,pdgi.product_demand_id,pdgi.product_demand_group_id,pdgi.position,pdgi.version, pdgi.create_man,pdgi.create_man_id,pdgi.create_date,pdgi.modify_date,
        a.name,a.priority,a.owner,a.owner_id,a.status, a.product_line_id,a.type, a.expect_schedule_time,a.create_man as demandCreateMan,a.create_man_id as demandCreateManId,
        a.create_date as demandCreateDate,a.modify_date as demandModifyDate,c.name productLineName,d.name bizDomainName, a.ued_time, a.transfer_time, a.back_time,
        a.front_time, a.qa_time, a.total_time
        <if test="copierId != null and copierId != ''">
            ,e.user_name copier
        </if>
        from product_demand_group_item pdgi
        left join product_demand a on pdgi.product_demand_id=a.id
        left join product_line c on a.product_line_id=c.id
        left join biz_domain d on c.biz_domain_id=d.id
        <if test="copierId != null and copierId != ''">
            left join person e on a.id=e.main_id and e.type =20 and e.is_deleted =false
        </if>
        <where>
            pdgi.product_demand_group_id = #{groupId}
            and pdgi.is_deleted =false
            <if test="id != null">and a.id = #{id}</if>
            <if test="name != null and name != ''">and a.name like concat('%',#{name},'%')</if>
            <if test="copierId != null and copierId != ''">and e.user_id = #{copierId}</if>
            <if test="createDateStart != null and createDateEnd != null">
                and a.create_date &gt;= #{createDateStart} and a.create_date &lt;= #{createDateEnd}
            </if>
            <if test="modifyDateStart != null and modifyDateEnd != null">
                and a.modify_date &gt;= #{modifyDateStart} and a.modify_date &lt;= #{modifyDateEnd}
            </if>
            <if test="expectScheduleTimeStart != null and expectScheduleTimeEnd != null">
                and a.expect_schedule_time &gt;= #{expectScheduleTimeStart} and a.expect_schedule_time &lt;= #{expectScheduleTimeEnd}
            </if>
            <if test="priorities!=null and priorities.size()>0">
                and a.priority in
                <foreach collection="priorities" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="productLineIds!=null and productLineIds.size()>0">
                and c.id in
                <foreach collection="productLineIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="bizDomainIds!=null and bizDomainIds.size()>0">
                and d.id in
                <foreach collection="bizDomainIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="ownerIds!=null and ownerIds.size()>0">
                and a.owner_id in
                <foreach collection="ownerIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="status!=null and status.size()>0">
                and a.status in
                <foreach collection="status" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="filterProductDemandIds!=null and filterProductDemandIds.size()>0">
                and a.id not in
                <foreach collection="filterProductDemandIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="inProductDemandIds!=null and inProductDemandIds.size()>0">
                and a.id  in
                <foreach collection="inProductDemandIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="notInProductDemandIds!=null and notInProductDemandIds.size()>0">
                and a.id not in
                <foreach collection="notInProductDemandIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="types!= null and types!='' ">
                and a.type REGEXP CONCAT('[', #{types},']')
            </if>
            and  a.is_deleted =false
            order by pdgi.`position` desc
        </where>
    </select>
    <!-- 产下待规划的产品需求 -->
    <select id="listProductDemandBacklog" resultType="com.timevale.forward.dal.entity.ProductDemandListDO">
        select a.id,a.name,a.priority,a.owner,a.owner_id,a.status, a.product_line_id,
        a.create_man,a.create_man_id,a.create_date,a.modify_date, a.type, a.expect_schedule_time,
        c.name productLineName ,d.name bizDomainName
        <if test="copierId != null and copierId != ''">
            ,e.user_name copier
        </if>
        from product_demand a
        left join product_line c on a.product_line_id=c.id
        left join biz_domain d on c.biz_domain_id=d.id
        left join biz_domain_group_relation e on d.id = e .biz_domain_id
        <if test="copierId != null and copierId != ''">
            left join person e on a.id=e.main_id and e.type =20 and e.is_deleted =false
        </if>
        <where>
            <if test="id != null">and a.id = #{id}</if>
            <if test="name != null and name != ''">and a.name like concat('%',#{name},'%')</if>
            <if test="copierId != null and copierId != ''">and e.user_id = #{copierId}</if>
            <if test="createDateStart != null and createDateEnd != null">
                and a.create_date &gt;= #{createDateStart} and a.create_date &lt;= #{createDateEnd}
            </if>
            <if test="modifyDateStart != null and modifyDateEnd != null">
                and a.modify_date &gt;= #{modifyDateStart} and a.modify_date &lt;= #{modifyDateEnd}
            </if>
            <if test="expectScheduleTimeStart != null and expectScheduleTimeEnd != null">
                and a.expect_schedule_time &gt;= #{expectScheduleTimeStart} and a.expect_schedule_time &lt;= #{expectScheduleTimeEnd}
            </if>
            <if test="priorities!=null and priorities.size()>0">
                and a.priority in
                <foreach collection="priorities" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="productLineIds!=null and productLineIds.size()>0">
                and c.id in
                <foreach collection="productLineIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <!--<if test="bizDomainIds!=null and bizDomainIds.size()>0">
                and d.id in
                <foreach collection="bizDomainIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>-->
            <!-- 只查询当前业务域集下的产品需求 -->
            <if test="bizDomainGroupId!=null ">
                and e.biz_domain_group_id = #{bizDomainGroupId}
            </if>
            <if test="ownerIds!=null and ownerIds.size()>0">
                and a.owner_id in
                <foreach collection="ownerIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="status!=null and status.size()>0">
                and a.status in
                <foreach collection="status" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="filterProductDemandIds!=null and filterProductDemandIds.size()>0">
                and a.id not in
                <foreach collection="filterProductDemandIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="inProductDemandIds!=null and inProductDemandIds.size()>0">
                and a.id  in
                <foreach collection="inProductDemandIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="notInProductDemandIds!=null and notInProductDemandIds.size()>0">
                and a.id not in
                <foreach collection="notInProductDemandIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="types!= null and types!='' ">
                and a.type REGEXP CONCAT('[', #{types},']')
            </if>
            and  a.is_deleted = false
            and  c.is_deleted = false
            and  d.is_deleted = false
            and  e.is_deleted = false
            and not exists (
                select 1 from product_demand_group_item pdgi
                where pdgi.product_demand_id  = a.id and pdgi.is_deleted = false
            )
        </where>
    </select>

    <!-- 删除产品需求分组和产品需求关系 -->
    <update id="deleteByGroupId">
        UPDATE product_demand_group_item
        SET is_deleted = true, modify_man_id = #{modifyManId}, modify_man = #{modifyMan}, is_active = null
        WHERE product_demand_group_id = #{groupId} and is_deleted = false
    </update>

    <!-- 根据主键id和业务域id获取产品需求分组和产品需求关系 -->
    <select id="get" resultType="com.timevale.forward.dal.entity.ProductDemandGroupItemDO">
        SELECT * FROM product_demand_group_item WHERE id = #{id} AND is_deleted = false
    </select>

    <!-- 根据分组id获取产品需求关系列表 -->
    <select id="getByGroupId" resultType="com.timevale.forward.dal.entity.ProductDemandGroupItemDO">
        SELECT * FROM product_demand_group_item WHERE product_demand_group_id = #{groupId} AND is_deleted = false order by position desc
    </select>

    <!-- 根据主键id和分组id获取产品需求分组和产品需求关系 -->
    <select id="getByGroupIdAndId" resultType="com.timevale.forward.dal.entity.ProductDemandGroupItemDO">
        select * from product_demand_group_item
        where is_deleted = false
        and id = #{id}
        and product_demand_group_id = #{groupId}
    </select>

    <!-- 根据产品需求id和分组id获取产品需求分组和产品需求关系 -->
    <select id="getByGroupIdAndDemandId" resultType="com.timevale.forward.dal.entity.ProductDemandGroupItemDO">
        select pdgi.* from product_demand_group_item pdgi
        where  pdgi.is_deleted = false
          and pdgi.product_demand_id = #{demandId}
          and pdgi.product_demand_group_id = #{groupId}
    </select>

    <!-- 根据产品需求id获取产品需求分组和产品需求关系 -->
    <select id="getByDemandId" resultType="com.timevale.forward.dal.entity.ProductDemandGroupItemDO">
        select pdgi.* from product_demand_group_item pdgi
        where  pdgi.is_deleted = false
        and pdgi.product_demand_id = #{demandId}
    </select>

    <select id="countByProductDemandId" resultType="java.lang.Integer">
        select count(*)
        from product_demand_group_item
        where product_demand_id = #{productDemandId}
          and is_deleted = false
    </select>

    <select id="getPreByPosition" resultType="com.timevale.forward.dal.entity.ProductDemandGroupItemDO">
        select *
        from product_demand_group_item
        where product_demand_group_id = #{productDemandGroupId}
          and is_deleted = false
          and `position` &gt; #{position}
        order by `position` asc limit 1
    </select>
    <select id="getNextByPosition" resultType="com.timevale.forward.dal.entity.ProductDemandGroupItemDO">
        select *
        from product_demand_group_item
        where product_demand_group_id = #{productDemandGroupId}
          and is_deleted = false
          and `position` &lt; #{position}
        order by `position` desc limit 1
    </select>

    <update id="updatePosition">
        UPDATE product_demand_group_item
        SET position = #{position},
            product_demand_group_id = #{productDemandGroupId},
            version = version + 1,
            modify_man = #{modifyMan},
            modify_man_id = #{modifyManId}
        WHERE id = #{id} and is_deleted = false and version = #{version}
    </update>

    <update id="update">
        UPDATE product_demand_group_item
        <set>
            <if test="productDemandGroupId != null">product_demand_group_id = #{productDemandGroupId},</if>
            <if test="productDemandId != null">product_demand_id = #{productDemandId},</if>
            <if test="position != null">position = #{position},</if>
            <if test="version != null">version = #{version},</if>
            <if test="modifyManId != null">modify_man_id = #{modifyManId},</if>
            <if test="modifyMan != null">modify_man = #{modifyMan},</if>
            <if test="modifyDate != null">modify_date = #{modifyDate},</if>
        </set>
        WHERE id = #{id} and is_deleted = false
    </update>

    <!-- 新增 -->
    <insert id="insert" parameterType="com.timevale.forward.dal.entity.ProductDemandGroupItemDO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO product_demand_group_item
        (product_demand_id, product_demand_group_id, position, version, create_man_id, create_man, is_active)
        VALUES
            (#{productDemandId}, #{productDemandGroupId}, #{position}, #{version}, #{createManId}, #{createMan}, #{isActive})
    </insert>

    <!-- 删除 -->
    <update id="delete">
        UPDATE product_demand_group_item
        SET is_deleted = true, modify_man_id = #{modifyManId}, modify_man = #{modifyMan}, is_active = null
        WHERE id = #{id} and is_deleted = false
    </update>
</mapper> 