<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
<mapper namespace="com.timevale.forward.dal.dao.ProjectProductDemandMapper">
    <update id="update" parameterType="long">
        update project_product_demand
        <set>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="modifyMan != null">modify_man = #{modifyMan},</if>
            <if test="modifyManId != null">modify_man_id = #{modifyManId},</if>
        </set>
        <where>
            <if test="projectId!=null">and project_id = #{projectId}</if>
            <if test="productDemandId!=null">and product_demand_id = #{productDemandId}</if>
            and is_deleted=false
        </where>
  </update>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into project_product_demand (project_id,product_demand_id,create_man_id, create_man)
        values
        <foreach collection="list" item="i" open="" separator="," close="">
            (#{i.projectId}, #{i.productDemandId}, #{i.createManId},#{i.createMan})
        </foreach>
    </insert>

    <select id="getByProjectId" resultType="com.timevale.forward.dal.entity.ProjectProductDemandDO">
        select a.id,a.project_id,a.product_demand_id
        from project_product_demand a
        where a.project_id = #{projectId} and a.is_deleted=false
    </select>

    <select id="getByProductDemandId" resultType="com.timevale.forward.dal.entity.ProjectProductDemandDO">
        select a.id,a.project_id,a.product_demand_id
        from project_product_demand a
        where a.product_demand_id = #{productDemandId} and a.is_deleted=false
    </select>

    <select id="getLinkedProductDemand" resultType="com.timevale.forward.dal.entity.ProjectProductDemandDO">
        select a.id,a.project_id,a.product_demand_id
        from project_product_demand a
        <where>
            <if test="productDemandIds!=null and productDemandIds.size()>0">
                and product_demand_id in
                <foreach collection="productDemandIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            and  a.is_deleted=false
        </where>
    </select>

</mapper>
