<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timevale.forward.dal.dao.ProjectMilestoneMapper">

    <resultMap id="BaseResultMap" type="com.timevale.forward.dal.entity.ProjectMilestone">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="projectId" column="project_id" jdbcType="BIGINT"/>
            <result property="milestoneName" column="milestone_name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="stage" column="stage" jdbcType="TINYINT"/>
            <result property="relationId" column="relation_id" jdbcType="BIGINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createManId" column="create_man_id" jdbcType="VARCHAR"/>
            <result property="createMan" column="create_man" jdbcType="VARCHAR"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="modifyManId" column="modify_man_id" jdbcType="VARCHAR"/>
            <result property="modifyMan" column="modify_man" jdbcType="VARCHAR"/>
            <result property="modifyDate" column="modify_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,project_id,milestone_name,
        type,stage,relation_id,
        is_deleted,create_man_id,create_man,
        create_date,modify_man_id,modify_man,
        modify_date
    </sql>
    <insert id="insert">
        insert into project_milestone (project_id, milestone_name, type, stage, relation_id, create_man_id, create_man,
                                       modify_man_id, modify_man)
        values (#{projectId}, #{milestoneName}, #{type}, #{stage}, #{relationId}, #{createManId}, #{createMan},
                #{createManId}, #{createMan})
    </insert>
    <update id="update">
        update project_milestone
        <set>
            <if test="milestoneName != null and milestoneName != ''">
                milestone_name = #{milestoneName},
            </if>
            <if test="stage != null">
                stage = #{stage},
            </if>
            modify_man_id = #{modifyManId},
            modify_man = #{modifyMan}
        </set>
        where id = #{id}
    </update>

    <select id="selectByProjectIds" resultType="com.timevale.forward.dal.entity.ProjectMilestone">
        SELECT *
        FROM project_milestone
        <where>
            project_id IN
            <foreach collection="projectIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            AND is_deleted = false
        </where>
    </select>

    <select id="selectByIds" resultType="com.timevale.forward.dal.entity.ProjectMilestone">
        SELECT *
        FROM project_milestone
        <where>
            id IN
            <foreach collection="list" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            AND is_deleted = false
        </where>
    </select>
    <select id="selectByRelations" resultType="com.timevale.forward.dal.entity.ProjectMilestone">
        SELECT * FROM project_milestone
        WHERE
          relation_id in
          <foreach collection="relationIds" item="relationId" open="(" separator="," close=")">
              #{relationId}
          </foreach>
          AND type = #{type} AND is_deleted = false
    </select>
</mapper>
