<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timevale.forward.dal.dao.ProjectBudgetMapper">

    <resultMap id="BaseResultMap" type="com.timevale.forward.dal.entity.ProjectBudgetDO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="projectId" column="project_id" jdbcType="BIGINT"/>
            <result property="costType" column="cost_type" jdbcType="VARCHAR"/>
            <result property="expectedAmount" column="expected_amount" jdbcType="DECIMAL"/>
            <result property="costAmount" column="cost_amount" jdbcType="DECIMAL"/>
            <result property="expectedDesc" column="expected_desc" jdbcType="VARCHAR"/>
            <result property="costDesc" column="cost_desc" jdbcType="VARCHAR"/>
            <result property="costDate" column="cost_date" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createManId" column="create_man_id" jdbcType="VARCHAR"/>
            <result property="createMan" column="create_man" jdbcType="VARCHAR"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="modifyManId" column="modify_man_id" jdbcType="VARCHAR"/>
            <result property="modifyMan" column="modify_man" jdbcType="VARCHAR"/>
            <result property="modifyDate" column="modify_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,project_id,cost_type,
        expected_amount,cost_amount,expected_desc,
        cost_desc,cost_date,is_deleted,
        create_man_id,create_man,create_date,
        modify_man_id,modify_man,modify_date
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO project_budget(project_id, cost_type, expected_amount, cost_amount, expected_desc, cost_desc, cost_date,
                                   create_man, create_man_id)
        VALUES (#{projectId}, #{costType}, #{expectedAmount}, #{costAmount}, #{expectedDesc},#{costDesc}, #{costDate},
                #{createMan}, #{createManId})
    </insert>

    <insert id="insertBatch">
        INSERT INTO project_budget(project_id, cost_type, expected_amount, cost_amount, expected_desc, cost_desc, cost_date,
                                   create_man, create_man_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.projectId}, #{item.costType}, #{item.expectedAmount}, #{item.costAmount}, #{item.expectedDesc},
             #{item.costDesc}, #{item.costDate}, #{createMan}, #{createManId})
        </foreach>
    </insert>

    <update id="update">
        UPDATE project_budget
        <set>
            <if test="costType">cost_type = #{costType},</if>
            <if test="expectedAmount">cost_type = #{expectedAmount},</if>
            <if test="costAmount">cost_type = #{costAmount},</if>
            <if test="expectedDesc">cost_type = #{expectedDesc},</if>
            <if test="costDesc">cost_type = #{costDesc},</if>
            <if test="costDate">cost_type = #{costDate},</if>
            <if test="true">
                modify_man = #{modifyMan},
                modify_man_id = #{modifyManId}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <update id="delete">
        UPDATE project_budget
        SET is_deleted = true
        WHERE id = #{id}
    </update>

    <select id="selectByProjectId" resultType="com.timevale.forward.dal.entity.ProjectBudgetDO">
        SELECT id, project_id, cost_type, expected_amount, cost_amount, expected_desc, cost_desc, cost_date
        FROM project_budget
        WHERE project_id = #{projectId}
          AND is_deleted = false
    </select>


</mapper>
