<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timevale.forward.dal.dao.ProjectPbuMapper">
    <insert id="batchAdd">
        INSERT INTO project_pbu(project_id, pbu_id, create_man, create_man_id)
        VALUES
        <foreach collection="pbuIds" item="pbuId" separator=",">
            (#{projectId}, #{pbuid}, #{createMan}, #{createManId})
        </foreach>
    </insert>

    <update id="batchDel">
        UPDATE project_pbu
        <set>
            is_deleted = true,
            modify_man = #{modifyMan},
            modify_man_id = #{modifyManId},
        </set>
        <where>
            AND project_id = #{projectId}
            AND pbu_id IN
            <foreach collection="pbuIds" item="pbuId" separator="," open="(" close=")">
                #{pbuId}
            </foreach>
        </where>
    </update>

    <select id="in" resultType="java.lang.Long">
        SELECT DISTINCT project_id
        FROM project_pbu
        <where>
            <if test="projectIds != null and projectIds.size() > 0">
                AND project_id IN
                <foreach collection="projectIds" item="projectId" separator="," open="(" close=")">
                    #{projectId}
                </foreach>
            </if>
            <if test="pbuIds != null and pbuIds.size() > 0">
                AND pbu_id IN
                <foreach collection="pbuIds" item="pbuId" separator="," open="(" close=")">
                    #{pbuId}
                </foreach>
            </if>
            AND is_deleted = false
        </where>
    </select>

    <select id="getByProjectIds" resultType="com.timevale.forward.dal.entity.ProjectPbuDO">
        SELECT *
        FROM project_pbu
        <where>
            AND project_id IN
            <foreach collection="projectIds" item="projectId" separator="," open="(" close=")">
                #{projectId}
            </foreach>
            AND is_deleted = false
        </where>
    </select>
</mapper>

