<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
<mapper namespace="com.timevale.forward.dal.dao.ProjectAcceptanceMapper">


    <insert id="insert" parameterType="com.timevale.forward.dal.entity.ProjectAcceptanceDO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into project_acceptance (project_id,acceptor_id,acceptor,status,create_man ,create_man_id)
        values
        (#{projectId},#{acceptorId},#{acceptor},0,#{createMan},#{createManId})
    </insert>

    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO project_acceptance (project_id, acceptor_id,acceptor,status,`desc`,create_man ,create_man_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.projectId}, #{item.acceptorId},#{item.acceptor},0,'',#{createMan},#{createManId})
        </foreach>
    </insert>

    <update id="update">
        update project_acceptance
        <set>
            <if test="acceptDate != null ">accept_date = #{acceptDate},</if>
            <if test="desc != null and desc != ''">`desc` = #{desc},</if>
            <if test="status != null">status = #{status},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="true">
                modify_man = #{modifyMan},
                modify_man_id = #{modifyManId},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="list" resultType="com.timevale.forward.dal.entity.ProjectAcceptanceDO">
        select id,project_id, acceptor_id,acceptor,status,`desc`,accept_date,
        is_deleted,create_man ,create_man_id,create_date ,modify_man ,modify_man_id,modify_date
        from project_acceptance a
        <where>
            <if test="projectId != null">and a.project_id = #{projectId}</if>

            <if test="status!=null and status.size()>0">
                and a.status in
                <foreach collection="status" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="createDateEnd != null">
                and a.create_date &lt;= #{createDateEnd}
            </if>
            and a.is_deleted=false
        </where>
    </select>

    <select id="get" resultType="com.timevale.forward.dal.entity.ProjectAcceptanceDO">
        select id,project_id, acceptor_id,acceptor,status,`desc`,accept_date,
        is_deleted,create_man ,create_man_id,create_date ,modify_man ,modify_man_id,modify_date
        from project_acceptance a
        <where>
            <if test="id != null"> id = #{id}</if>
            and is_deleted=false
        </where>
    </select>

    <select id="selectByProjectIds" resultType="com.timevale.forward.dal.entity.ProjectAcceptanceDO">
        select *
        from project_acceptance
        <where>
            and project_id in
            <foreach collection="projectIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            and is_deleted=false
        </where>
    </select>

</mapper>

