<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timevale.forward.dal.dao.ProjectGoalMapper">
    <insert id="insert">
        insert into project_goal (project_id, name, type, is_main, measurement, reach_value, reach_date,
                                  create_man_id, create_man)
        values (#{projectId}, #{name}, #{type}, #{isMain}, #{measurement}, #{reachValue}, #{reachDate},
                #{createManId}, #{createMan})
    </insert>
    <insert id="batchInsert">
        insert into project_goal (project_id, name, type, is_main, measurement, reach_value, reach_date,
                                  create_man_id, create_man)
        values
            <foreach collection="list" item="item" separator=",">
                (#{item.projectId}, #{item.name}, #{item.type}, #{item.isMain}, #{item.measurement}, #{item.reachValue},
                 #{item.reachDate}, #{item.createManId}, #{item.createMan})
            </foreach>
    </insert>

    <update id="update">
        update project_goal
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="isMain != null">
                is_main = #{isMain},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="measurement != null and measurement != ''">
                measurement = #{measurement},
            </if>
            <if test="reachValue != null">
                reach_value = #{reachValue},
            </if>
            <if test="reachDate != null">
                reach_date = #{reachDate},
            </if>
            <if test="completeNote != null and completeNote != ''">
                complete_note = #{completeNote},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="unsetMainGoal">
        update project_goal
        set is_main = 0
        where project_id = #{projectId}
          and is_main = 1
    </update>
    <delete id="delete">
        update project_goal set is_deleted = 1 where id = #{id}
    </delete>
    <select id="getByName" resultType="com.timevale.forward.dal.entity.ProjectGoalDO">
        select *
        from project_goal
        where name = #{name}
          and project_id = #{projectId}
        and is_deleted = 0
    </select>
    <select id="get" resultType="com.timevale.forward.dal.entity.ProjectGoalDO">
        select * from project_goal
                 where id = #{id}
                   and is_deleted = 0
    </select>
    <select id="getByProjectId" resultType="com.timevale.forward.dal.entity.ProjectGoalDO">
        select * from project_goal where project_id = #{projectId} and is_deleted = 0 order by is_main desc, modify_date desc
    </select>

</mapper>
