<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timevale.forward.dal.dao.ProjectMilestoneMapper">

    <resultMap id="BaseResultMap" type="com.timevale.forward.dal.entity.ProjectMilestone">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="projectId" column="project_id" jdbcType="BIGINT"/>
            <result property="milestoneName" column="milestone_name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="stage" column="stage" jdbcType="TINYINT"/>
            <result property="relationId" column="relation_id" jdbcType="BIGINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createManId" column="create_man_id" jdbcType="VARCHAR"/>
            <result property="createMan" column="create_man" jdbcType="VARCHAR"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="modifyManId" column="modify_man_id" jdbcType="VARCHAR"/>
            <result property="modifyMan" column="modify_man" jdbcType="VARCHAR"/>
            <result property="modifyDate" column="modify_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,project_id,milestone_name,
        type,stage,relation_id,
        is_deleted,create_man_id,create_man,
        create_date,modify_man_id,modify_man,
        modify_date
    </sql>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO project_milestone
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">project_id,</if>
            <if test="milestoneName != null">milestone_name,</if>
            <if test="stage != null">stage,</if>
            <if test="planStartDate != null">plan_start_date,</if>
            <if test="planEndDate != null">plan_end_date,</if>
            <if test="createMan != null">create_man,</if>
            <if test="createManId != null">create_man_id,</if>
            <if test="type != null">type,</if>
            <if test="relationId != null">relation_id,</if>
            <if test="chargeMan != null and chargeMan != ''">charge_man,</if>
            <if test="keyAction != null and keyAction  != ''">key_action,</if>
            <if test="actualStartDate != null">actual_start_date,</if>
            <if test="actualEndDate != null">actual_end_date,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="milestoneName != null">#{milestoneName},</if>
            <if test="stage != null">#{stage},</if>
            <if test="planStartDate != null">#{planStartDate},</if>
            <if test="planEndDate != null">#{planEndDate},</if>
            <if test="createMan != null">#{createMan},</if>
            <if test="createManId != null">#{createManId},</if>
            <if test="type != null">#{type},</if>
            <if test="relationId != null">#{relationId},</if>
            <if test="chargeMan != null and chargeMan != ''">#{chargeMan},</if>
            <if test="keyAction != null and keyAction  != ''">#{keyAction},</if>
            <if test="actualStartDate != null">#{actualStartDate},</if>
            <if test="actualEndDate != null">#{actualEndDate},</if>
        </trim>
    </insert>

    <update id="update">
        update project_milestone
        <set>
            <if test="milestoneName != null and milestoneName != ''">
                milestone_name = #{milestoneName},
            </if>
            <if test="stage != null">
                stage = #{stage},
            </if>
            <if test="planStartDate != null">
                plan_start_date = #{planStartDate},
            </if>
            <if test="planEndDate != null">
                plan_end_date = #{planEndDate},
            </if>
            <if test="actualStartDate != null">
                actual_start_date = #{actualStartDate},
            </if>
            <if test="actualEndDate != null">
                actual_end_date = #{actualEndDate},
            </if>
            <if test="chargeMan != null and chargeMan != ''">
                charge_man = #{chargeMan},
            </if>
            <if test="keyAction != null">
                key_action = #{keyAction},
            </if>
            modify_man_id = #{modifyManId},
            modify_man = #{modifyMan}
        </set>
        where id = #{id}
    </update>

    <select id="selectByProjectIds" resultType="com.timevale.forward.dal.entity.ProjectMilestone">
        SELECT *
        FROM project_milestone
        <where>
            project_id IN
            <foreach collection="projectIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            AND is_deleted = false
        </where>
    </select>

    <select id="selectByIds" resultType="com.timevale.forward.dal.entity.ProjectMilestone">
        SELECT *
        FROM project_milestone
        <where>
            id IN
            <foreach collection="list" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            AND is_deleted = false
        </where>
    </select>
</mapper>
