<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timevale.forward.dal.dao.ProjectIncomeMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO project_income (project_id, income_amount, income_date, situation, create_man_id, create_man)
        VALUES (#{projectId}, #{incomeAmount}, #{incomeDate}, #{situation}, #{createManId}, #{createMan})
    </insert>

    <update id="update">
        UPDATE project_income
        <set>
            <if test="incomeAmount != null">income_amount = #{incomeAmount},</if>
            <if test="incomeDate != null">income_date = #{incomeDate},</if>
            <if test="situation != null">situation = #{situation},</if>
            <if test="true">
                modify_man = #{modifyMan},
                modify_man_id = #{modifyManId},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="delete">
        UPDATE project_income
        SET is_deleted = true
        WHERE id = #{id}
    </update>

    <select id="selectByProjectId" resultType="com.timevale.forward.dal.entity.ProjectIncomeDO">
        SELECT id, project_id, income_amount, income_date, situation
        FROM project_income
        WHERE project_id = #{projectId}
          AND is_deleted = false
    </select>

    <select id="selectById" resultType="com.timevale.forward.dal.entity.ProjectIncomeDO">
        SELECT *
        FROM project_income
        WHERE id = #{id}
          AND is_deleted = false
    </select>


</mapper>
