<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
<mapper namespace="com.timevale.forward.dal.dao.ProjectRiskMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO project_risk(project_id, main_id, type, name, sign, create_man_id, create_man)
        VALUES (#{projectId}, #{mainId}, #{type}, #{name}, #{sign}, #{createManId}, #{createMan})
    </insert>

    <insert id="batchInsert">
        INSERT INTO project_risk(project_id, main_id, type, name, sign, create_man_id, create_man)
        VALUES
        <foreach collection = "projectRiskDOList" item = "item" separator = ",">
            (#{item.projectId}, #{item.mainId}, #{item.type},#{item.name},#{item.sign},#{createManId},#{createMan})
        </foreach>
    </insert>

    <update id="update">
        UPDATE project_risk
        <set>
            <if test="sign != null and sign != ''">sign = #{sign},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="status != null">status = #{status},</if>
            <if test="modifyDate != null">modify_date = #{modifyDate},</if>
            <if test="true">
                modify_man = #{modifyMan},
                modify_man_id = #{modifyManId},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <update id="updateStatus">
        UPDATE project_risk
        SET status = #{status},
            modify_man = #{modifyMan},
            modify_man_id = #{modifyManId}
        WHERE id = #{id}
    </update>

    <update id="updateStatuses">
        UPDATE project_risk
        SET status = #{status},
            modify_man = #{modifyMan},
            modify_man_id = #{modifyManId}
        WHERE id IN
        <foreach collection = "idList" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateModifyDate">
        UPDATE project_risk
        SET modify_date = #{modifyDate},
        modify_man = #{modifyMan},
        modify_man_id = #{modifyManId}
        WHERE id IN
        <foreach collection = "idList" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateStatusByMainId">
        UPDATE project_risk
        SET status = #{status}
        WHERE main_id = #{mainId}
          AND type IN
        <foreach collection="types" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateByUnique">
        UPDATE project_risk
        <set>
            <if test="sign != null and sign != ''">sign = #{sign},</if>
            <if test="name != null and name != ''">`name` = #{name},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="modifyDate != null">modify_date = #{modifyDate},</if>
            <if test="modifyMan != null">modify_man = #{modifyMan},</if>
            <if test="modifyManId != null">modify_man_id = #{modifyManId},</if>
        </set>
        <where>
            AND type = #{type}
            AND `name` = #{name},
            AND main_id = #{main_id},
            AND project_id = #{projectId},
        </where>
    </update>

    <update id="delByMain">
        UPDATE project_risk
        SET is_deleted = true
        <where>
            AND project_id = #{projectId}
            AND main_id = #{main}
            AND is_deleted = false
            AND type IN
            <foreach collection="types" item="type" separator="," open="(" close=")">
                #{type}
            </foreach>
        </where>
    </update>

    <select id="selectByProjectId" resultType="com.timevale.forward.dal.entity.ProjectRiskDO">
        SELECT *
        FROM project_risk
        WHERE project_id = #{projectId}
          AND is_deleted = false
    </select>

    <select id="selectByStatus" resultType="com.timevale.forward.dal.entity.ProjectRiskDO">
        SELECT id, project_id, type, name
        FROM project_risk
        WHERE status = #{status} AND
              type != 0 AND
              is_deleted = false
    </select>

    <select id="selectById" resultType="com.timevale.forward.dal.entity.ProjectRiskDO">
        SELECT id, project_id, type, name, sign, status,create_man, create_man_id, create_date, modify_date
        FROM project_risk
        WHERE id = #{id}
    </select>

    <select id="selectByProjectIdList" resultType="com.timevale.forward.dal.entity.ProjectRiskDO">
        SELECT id, project_id, name, type, main_id, status, modify_date
        FROM project_risk
        <where>
            <if test="projectIdList != null and projectIdList.size() > 0">
                AND project_id IN
                <foreach collection="projectIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            AND is_deleted = false
        </where>
    </select>

    <select id="select" resultType="com.timevale.forward.dal.entity.ProjectRiskDO">
        SELECT id, project_id, main_id, type, name, sign, status, create_man_id, create_man, create_date, modify_date
        FROM project_risk
        <where>
            <if test="projectId != null">project_id = #{projectId}</if>
            <if test="statusList != null and statusList.size() > 0">
                AND `status` in
                <foreach collection="statusList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        AND is_deleted = false
        </where>
    </select>

    <select id="selectByProjectIdListStatus" resultType="com.timevale.forward.dal.entity.ProjectRiskDO">
        SELECT id, project_id, main_id, type, name, sign, status, create_man_id, create_man, create_date, modify_date
        FROM project_risk
        <where>
            <if test="projectIdList != null and projectIdList.size() > 0">
                AND project_id IN
                <foreach collection="projectIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            AND `status` = #{status}
            AND is_deleted = false
        </where>
    </select>

    <select id="selectByStatusType" resultType="com.timevale.forward.dal.entity.ProjectRiskDO">
        SELECT id, project_id, main_id, type, name, sign, status, create_man_id, create_man, create_date, modify_date
        FROM project_risk
        WHERE status = #{status} AND type = #{type} AND is_deleted = false
    </select>

    <select id="selectByStatusTypes" resultType="com.timevale.forward.dal.entity.ProjectRiskDO">
        SELECT id, project_id, main_id, type, name, sign, status, create_man_id, create_man, create_date, modify_date
        FROM project_risk
        <where>
            AND `status` = #{status}
            AND is_deleted = false
            AND type IN
            <foreach collection="types" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM project_risk
        WHERE status = #{status}
          AND project_id = #{projectId}
          AND is_deleted = false
    </select>

    <select id="selectByMain" resultType="com.timevale.forward.dal.entity.ProjectRiskDO">
        SELECT *
        FROM project_risk
        WHERE main_id = #{mainId}
          AND status = #{status}
          AND type IN
          <foreach collection="types" item="item" separator="," open="(" close=")">
              #{item}
          </foreach>
          AND is_deleted = false
    </select>

    <select id="selectByMilestone" resultType="com.timevale.forward.dal.entity.ProjectRiskDO">
        SELECT *
        FROM info_forward.project_risk
        WHERE is_deleted = FALSE
          AND type IN (50, 60, 70)
          AND main_id IN
            <foreach collection="milestoneIdList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
    </select>

</mapper>
