<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
<mapper namespace="com.timevale.forward.dal.dao.TaskMapper">

    <update id="deleteById">
    update task set is_deleted = true,
                    modify_man_id = #{modifyManId},
                    modify_man = #{modifyMan}
    where id = #{id} and is_deleted = false
    </update>

    <select id="getByProjectIds" resultType="long">
        select distinct id from task
        <where>
            <if test="ids!=null and ids.size()>0">
                and id in
                <foreach collection="ids" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            and project_id in
            <foreach collection="projectIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            and is_deleted=false
        </where>
    </select>

    <select id="getByProductLineIds" resultType="long">
        select distinct a.id from task a
        <where>
            <if test="ids!=null and ids.size()>0">
                and a.id in
                <foreach collection="ids" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            and a.product_line_id in
            <foreach collection="productLineIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            and a.is_deleted=false
        </where>
    </select>

    <select id="getProjectIds" resultType="long">
        select distinct project_id from task
        <where>
            and id in
            <foreach collection="ids" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            and is_deleted=false
        </where>
    </select>

    <select id="list" resultType="com.timevale.forward.dal.entity.TaskDO">
        select a.id,a.project_id,product_line_id, a.name, a.stage ,a.status,a.todo, a.todo_id,a.plan_start_date,a.plan_end_date,
        a.actual_start_date,a.actual_end_date,
        a.create_man_id, a.create_man,a.create_date,a.modify_date
        from task a
        <where>
            <if test="ids!=null and ids.size()>0">
                and a.id in
                <foreach collection="ids" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="id != null">and a.id = #{id}</if>
            <if test="name != null and name != ''">and a.name like concat('%',#{name},'%')</if>
            <if test="planStartDateLeft != null and planStartDateRight != null">
                and a.plan_start_date &gt;= #{planStartDateLeft} and a.plan_start_date &lt;= #{planStartDateRight}
            </if>
            <if test="planEndDateLeft != null and planEndDateRight != null">
                and a.plan_end_date &gt;= #{planEndDateLeft} and a.plan_end_date &lt;= #{planEndDateRight}
            </if>
            <if test="actualStartDateLeft != null and actualStartDateRight != null">
                and a.actual_start_date &gt;= #{actualStartDateLeft} and a.actual_start_date &lt;= #{actualStartDateRight}
            </if>
            <if test="actualEndDateLeft != null and actualEndDateRight != null">
                and a.actual_end_date &gt;= #{actualEndDateLeft} and a.actual_end_date &lt;= #{actualEndDateRight}
            </if>
            <if test="createDateLeft != null and createDateRight != null">
                and a.create_date &gt;= #{createDateLeft} and a.create_date &lt;= #{createDateRight}
            </if>
            <if test="createManIds!=null and createManIds.size()>0">
                and a.create_man_id in
                <foreach collection="createManIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="status!=null and status.size()>0">
                and a.status in
                <foreach collection="status" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="stages!=null and stages.size()>0">
                and a.stage in
                <foreach collection="stages" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="isDelay!=null and isDelay==true">
                and (
                actual_end_date &gt; plan_end_date or (actual_end_date is null and now() &gt; plan_end_date)
                    )
            </if>
            <if test="isDelay!=null and isDelay==false">
                and (
                actual_end_date &lt;= plan_end_date or (actual_end_date is null and now() &lt;= plan_end_date)
                )
            </if>
            and a.is_deleted =false
        </where>
    </select>


    <insert id="insert" parameterType="com.timevale.forward.dal.entity.TaskDO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into task (project_id,product_line_id, name, stage ,status,todo,todo_id, `desc`
        , plan_start_date, plan_end_date, plan_use_time
        ,actual_start_date,actual_end_date,task_use_time
        ,create_man,create_man_id)
        values
        (#{projectId},#{productLineId}, #{name}, #{stage}, #{status}, #{todo}, #{todoId}, #{desc}
        , #{planStartDate}, #{planEndDate}, #{planUseTime}
        , #{actualStartDate}, #{actualEndDate}, #{taskUseTime}
        ,#{createMan},#{createManId})
    </insert>

    <select id="get" resultType="com.timevale.forward.dal.entity.TaskDO">
        select a.id,a.project_id,product_line_id, a.name,a.todo,a.todo_id, a.stage ,a.status, a.`desc`,
        a.plan_use_time,a.task_use_time,
        a.plan_start_date,a.plan_end_date,
        a.actual_start_date,a.actual_end_date,a.is_deleted,
        a.create_man_id, a.create_man,a.create_date,a.modify_date
        from task a
        <where>
            <if test="id != null">and a.id = #{id}</if>
            <if test="projectId != null">and a.project_id = #{projectId}</if>
            <if test="name != null">and a.name = #{name}</if>
            and a.is_deleted=false
        </where>
    </select>

    <update id="update" parameterType="com.timevale.forward.dal.entity.TaskDO">
        update task
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="status != null">status = #{status},</if>
            <if test="stage != null">stage = #{stage},</if>
            <if test="todo != null">todo = #{todo},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="planStartDate != null">plan_start_date = #{planStartDate},</if>
            <if test="planEndDate != null">plan_end_date = #{planEndDate},</if>
            <if test="productLineId != null">product_line_id = #{productLineId},</if>
            <if test="taskUseTime != null">task_use_time = #{taskUseTime},</if>
            <if test="planUseTime != null">plan_use_time = #{planUseTime},</if>
            <if test="modifyMan != null">modify_man = #{modifyMan},</if>
            <if test="modifyManId != null">modify_man_id = #{modifyManId},</if>
            <if test="desc != null">`desc` = #{desc},</if>
            actual_start_date = #{actualStartDate},
            actual_end_date = #{actualEndDate},
            todo_id = #{todoId}
        </set>
        <where>
            id = #{id} and is_deleted=false
        </where>
    </update>

    <select id="getByProjectId" resultType="com.timevale.forward.dal.entity.TaskDO">
        select a.id,a.project_id,product_line_id, a.name, a.stage ,a.status,a.todo, a.todo_id,
            a.plan_start_date,a.plan_end_date, a.plan_use_time,a.task_use_time,
            a.actual_start_date,a.actual_end_date,
            a.create_man_id, a.create_man,a.create_date,a.modify_date
        from task a
        <where>
            a.project_id = #{projectId} and a.is_deleted=false
        </where>
    </select>

    <select id="getById" resultType="com.timevale.forward.dal.entity.TaskDO">
        select id, project_id, product_line_id, name, stage, status, todo, todo_id, plan_start_date, plan_end_date,
               plan_use_time, actual_start_date, actual_end_date, task_use_time, is_deleted, create_man_id, create_man,
               create_date, modify_man_id, modify_man, modify_date
        from task
        where id = #{id}
    </select>

    <select id="getByIdList" resultType="com.timevale.forward.dal.entity.TaskDO">
        select id, project_id, product_line_id, name, stage, status, todo, todo_id, plan_start_date, plan_end_date,
               plan_use_time, actual_start_date, actual_end_date, task_use_time, is_deleted, create_man_id, create_man,
               create_date, modify_man_id, modify_man, modify_date
        from task
        <where>
            id in
            <foreach collection="idList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            and is_deleted = false
        </where>
    </select>

    <select id="selectByExecutorList" resultType="com.timevale.forward.dal.entity.TaskDO">
        select t.id, t.project_id, t.product_line_id, t.name, t.stage, t.status, t.todo, t.todo_id, t.plan_start_date,
               t.plan_end_date, t.plan_use_time, t.actual_start_date, t.actual_end_date, t.task_use_time, t.is_deleted,
               t.create_man_id, t.create_man, t.create_date, t.modify_man_id, t.modify_man, t.modify_date
        from person p join task t on p.main_id = t.id
        where
            p.user_id in
            <foreach collection="userIdList" item="item" separator=","  open="(" close=")">
                #{item}
            </foreach>
            and p.type = 40
            and p.is_deleted = false
            and t.is_deleted = false
        group by t.id
    </select>

    <select id="getByProductDemandId" resultType="com.timevale.forward.dal.entity.TaskDO">
        SELECT t.id, t.name, t.status, t.plan_start_date, t.plan_end_date, t.actual_start_date, t.actual_end_date, t.modify_date
        FROM task t JOIN task_product_demand tpd ON t.id = tpd.task_id
        WHERE tpd.product_demand_id = #{productDemandId}
          AND t.project_id = #{projectId}
          AND tpd.is_deleted = false
          AND t.is_deleted = false
    </select>
    <select id="getOverdueRank" resultType="com.timevale.forward.dal.dto.TaskOverdueDTO">
        select p.user_id,
        p.user_name,
        count(t.id)                as overdue_count,
        1000 * sum(TIMESTAMPDIFF(SECOND, plan_end_date, now())) as accumulate_overdue_millis
        from person p
        left join task t on p.main_id = t.id and p.type = 40
        where t.status = 10
        and t.plan_end_date &lt; now()
        and t.project_id = #{projectId}
        and t.is_deleted = false
        and p.is_deleted = false
        group by p.user_id
    </select>


    <update id="updateStatusAsProjectStatusChange" parameterType="com.timevale.forward.dal.entity.TaskStatusUpdateDO" >
        update task
        <set>
            <if test="updated != null">status = #{updated},</if>
        </set>
        <where>
            project_id = #{projectId}
            and status in
            <foreach collection="preUpdate" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            and is_deleted=false
        </where>
    </update>

    <select id="getByNameAndPid" resultType="com.timevale.forward.dal.entity.TaskDO">
        select id, project_id, product_line_id, name, stage, status, todo, todo_id, plan_start_date, plan_end_date,
        plan_use_time, actual_start_date, actual_end_date, task_use_time, is_deleted, create_man_id, create_man,
        create_date, modify_man_id, modify_man, modify_date
        from task
        <where>
            project_id = #{projectId} and
            name in
            <foreach collection="names" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            and is_deleted = false
        </where>
    </select>

    <select id="getByDate" resultType="com.timevale.forward.dal.dto.TaskBoardDTO">
        select distinct a.id, a.project_id, a.product_line_id, a.name, a.stage, a.status, a.todo, a.todo_id,
        a.plan_start_date, a.plan_end_date, a.plan_use_time, a.actual_start_date, a.actual_end_date, a.task_use_time,
        a.is_deleted, a.create_man_id, a.create_man, a.create_date, a.modify_man_id, a.modify_man,
        a.modify_date,c.plan_end_date projectPlanEndDate,c.name projectName
        from task a
        join person b on a.id=b.main_id and b.type=40 and b.is_deleted = false
        join project c on a.project_id=c.id
        <where>
            (
            (a.plan_start_date &gt;=#{startDate} and a.plan_start_date &lt;= #{endDate}) or
            (a.plan_end_date &gt;=#{startDate} and a.plan_end_date &lt;= #{endDate}) or
            (a.actual_start_date &gt;=#{startDate} and a.actual_start_date &lt;= #{endDate}) or
            (a.actual_end_date &gt;=#{startDate} and a.actual_end_date &lt;= #{endDate}) or

            (a.plan_start_date &lt;=#{startDate} and a.plan_end_date &gt;= #{endDate}) or
            (a.actual_start_date &lt;=#{startDate} and a.actual_end_date &gt;= #{endDate}) or
            (a.plan_start_date &lt;=#{startDate} and a.actual_end_date &gt;= #{endDate}) or
            (now()&gt;=#{startDate})
            )
            and a.status not in (-10,-20)
            and b.user_id in
            <foreach collection="accounts" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            and c.status not in (-10,-20)
            and a.is_deleted = false
        </where>
    </select>

    <update id="updateProductLineId">
        update task
        <set>
            <if test="productLineId != null">product_line_id = #{productLineId},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
        </set>
        <where>
             id in
            <foreach collection="idList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            and is_deleted=false
        </where>
    </update>
</mapper>
