<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
<mapper namespace="com.timevale.forward.dal.dao.TaskTimeMapper">

    <insert id="insert" parameterType="com.timevale.forward.dal.entity.TaskTimeDO">
        insert into task_time (task_id, start_date
        <if test="endDate != null">
        , end_date
        </if>
        ,create_man,create_man_id)
        values
        (#{taskId}, #{startDate}
        <if test="endDate != null">
        , #{endDate}
        </if>
        ,#{createMan},#{createManId})
    </insert>

    <delete id="delete" parameterType="long">
        delete  from task_time where
        task_id in
        <foreach collection="taskIds" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        <if test="id != null">
          and id &gt; #{id}
        </if>
    </delete>

    <select id="get" resultType="com.timevale.forward.dal.entity.TaskTimeDO">
        select a.id,a.task_id, a.start_date, a.end_date ,a.is_deleted
        ,a.create_man_id, a.create_man,a.create_date,a.modify_date
        from task_time a
        where a.task_id=#{taskId} and a.end_date is null
    </select>

    <update id="update" parameterType="com.timevale.forward.dal.entity.TaskTimeDO">
        update task_time a
        <set>
            <if test="modifyMan != null">modify_man = #{modifyMan},</if>
            <if test="modifyManId != null">modify_man_id = #{modifyManId},</if>
            a.end_date=#{endDate}
        </set>
        where a.task_id=#{taskId} and a.end_date is null
    </update>

    <select id="list" resultType="com.timevale.forward.dal.entity.TaskTimeDO">
        select a.id,a.task_id, a.start_date, a.end_date ,a.is_deleted
        ,a.create_man_id, a.create_man,a.create_date,a.modify_date
        from task_time a
        where a.task_id=#{taskId} order by a.id
    </select>

    <update id="updateById" parameterType="com.timevale.forward.dal.entity.TaskTimeDO">
        update task_time a
        <set>
            <if test="modifyMan != null">modify_man = #{modifyMan},</if>
            <if test="modifyManId != null">modify_man_id = #{modifyManId},</if>
            a.end_date=#{endDate}
        </set>
        where a.id=#{id}
    </update>
</mapper>
