<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
<mapper namespace="com.timevale.forward.dal.dao.TaskProductDemandMapper">

    <insert id="batchInsert" parameterType="java.util.List">
        insert into task_product_demand (task_id,product_demand_id,create_man_id, create_man)
        values
        <foreach collection="list" item="i" open="" separator="," close="">
            (#{i.taskId}, #{i.productDemandId}, #{i.createManId},#{i.createMan})
        </foreach>
    </insert>

    <select id="get" resultType="com.timevale.forward.dal.entity.TaskProductDemandDO">
        select a.id, a.task_id, a.product_demand_id, a.is_deleted
        from task_product_demand a
        <where>
            a.task_id=#{taskId} and a.is_deleted=false
        </where>
    </select>

    <select id="linkProductDemandList" resultType="com.timevale.forward.dal.entity.ProductDemandListDO">
         SELECT a.id,a.name,a.priority,a.owner,a.status,a.create_man,a.create_date,b.modify_date
         FROM product_demand a
         LEFT JOIN task_product_demand b ON a.id = b.product_demand_id AND b.is_deleted = false
         where b.task_id = #{taskId}
    </select>

    <update id="update" parameterType="com.timevale.forward.dal.entity.TaskProductDemandDO">
        update task_product_demand
        <set>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="modifyMan != null">modify_man = #{modifyMan},</if>
            <if test="modifyManId != null">modify_man_id = #{modifyManId},</if>
        </set>
        <where>
            <if test="taskId!=null">and task_id = #{taskId}</if>
            <if test="productDemandId!=null">and product_demand_id = #{productDemandId}</if>
            and is_deleted=false
        </where>
    </update>


</mapper>
