<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
<mapper namespace="com.timevale.forward.dal.dao.TestBillMapper">
    <insert id="submitTestBill">
        insert into test_bill(project_id,status,test_man,test_man_id,create_man,create_man_id) values
        (#{testBillDO.projectId},0,#{testBillDO.testMan},#{testBillDO.testManId},#{createMan},#{createManId})
    </insert>

    <update id="submitSmokeTesting">
        update test_bill
        <set>
            <if test="testBillDO.caseUrl != null">case_url=#{testBillDO.caseUrl},</if>
            <if test="true">status=1,</if>
            <if test="true">modify_man=#{modifyMan},</if>
            <if test="true">modify_man_id=#{modifyManId},</if>
        </set>
        <where>
            <if test="testBillDO.projectId != null">
                and project_id=#{testBillDO.projectId}
            </if>
        </where>
    </update>

    <update id="modifyTestMan">
        update test_bill
        <set>
            <if test="testBillDO.testMan != null">test_man=#{testBillDO.testMan},</if>
            <if test="testBillDO.testManId != null">test_man_id=#{testBillDO.testManId},</if>
            <if test="true">modify_man=#{modifyMan},</if>
            <if test="true">modify_man_id=#{modifyManId},</if>
        </set>
        <where>
            <if test="testBillDO.projectId != null">
                and project_id=#{testBillDO.projectId}
            </if>
        </where>
    </update>

    <update id="selfTestPass">
        update test_bill
        <set>
            <if test="testBillDO.desc != null">`desc`=#{testBillDO.desc},</if>
            <if test="true">`test_count`=`test_count`+1,</if>
            <if test="true">status=2,</if>
            <if test="testBillDO.progress != null">progress=#{testBillDO.progress},</if>
            <if test="true">modify_man=#{modifyMan},</if>
            <if test="true">modify_man_id=#{modifyManId},</if>
            <if test="true">reason=#{testBillDO.reason}</if>
        </set>
        <where>
            <if test="testBillDO.projectId != null">
                and project_id=#{testBillDO.projectId}
            </if>
        </where>
    </update>

    <update id="submitTestPass">
        update test_bill
        <set>
            <if test="true">status=3,</if>
            <if test="testBillDO.passRate != null">pass_rate=#{testBillDO.passRate},</if>
            <if test="true">modify_man=#{modifyMan},</if>
            <if test="true">modify_man_id=#{modifyManId},</if>
            <if test="true">reason=#{testBillDO.reason}</if>
        </set>
        <where>
            and project_id=#{testBillDO.projectId}
        </where>
    </update>

    <update id="submitTestBack">
        update test_bill
        <set>
            <if test="testBillDO.reason != null">reason=#{testBillDO.reason},</if>
            <if test="true">status=1,</if>
            <if test="true">`return_count`=`return_count`+1,</if>
            <if test="true">modify_man=#{modifyMan},</if>
            <if test="true">modify_man_id=#{modifyManId},</if>
        </set>
        <where>
            and project_id=#{testBillDO.projectId}
        </where>
    </update>

    <select id="selectByProjectId" resultType="com.timevale.forward.dal.entity.TestBillDO">
        select * from test_bill
        where project_id=#{projectId}  and is_deleted = false
    </select>

    <select id="getByProjectIds" resultType="long">
        select distinct project_id
        from test_bill
        <where>
            <if test="projectIds!=null and projectIds.size()>0">
                and project_id in
                <foreach collection="projectIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="returnCountType == 0">and return_count = #{returnCount}</if>
            <if test="returnCountType == 1">and return_count &gt; #{returnCount}</if>
            <if test="returnCountType == 2">and return_count &gt;= #{returnCount}</if>
            <if test="returnCountType == 3">and return_count &lt; #{returnCount}</if>
            <if test="returnCountType == 4">and return_count &lt;= #{returnCount}</if>
             and is_deleted=false
        </where>
    </select>
</mapper>