<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
<mapper namespace="com.timevale.forward.dal.dao.TrackImportLogMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO track_import_log (status, file_id, import_count, import_fail_count, `result`, create_man, create_man_id)
        VALUES (#{status}, #{fileId}, #{importCount}, #{importFailCount}, #{result}, #{createMan}, #{createManId})
    </insert>

    <select id="selectAll" resultType="com.timevale.forward.dal.entity.TrackImportLogDO">
        SELECT id, status, file_id, import_count, import_fail_count, `result`, create_man_id, create_man, create_date
        FROM track_import_log
        WHERE is_deleted = false
    </select>

    <select id="selectCreateLatest" resultType="com.timevale.forward.dal.entity.TrackImportLogDO">
        SELECT id, status, file_id, import_count, import_fail_count, `result`, create_man_id, create_man, create_date
        FROM track_import_log
        WHERE create_man_id = #{userId} AND is_deleted = false
        ORDER BY create_date DESC
        LIMIT 1
    </select>
</mapper>

