<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
<mapper namespace="com.timevale.forward.dal.dao.TroubleTicketMapper">


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO trouble_ticket(name, influence, type, product_line_id, occurrence_time,
                                   influence_count, influence_client, during_time, failure_time, influence_scope, reason,
                                   restore_time, replay_time, asset_loss, amount_loss, time_line, reason_analysis, trouble_rank,
                                   prime_principal, prime_principal_id, minor_principal, minor_principal_id, duty_team,
                                   create_man_id, create_man)
        VALUES (#{name}, #{influence}, #{type}, #{productLineId}, #{occurrenceTime},
                #{influenceCount}, #{influenceClient}, #{duringTime}, #{failureTime}, #{influenceScope}, #{reason},
                #{restoreTime}, #{replayTime}, #{assetLoss}, #{amountLoss}, #{timeLine}, #{reasonAnalysis}, #{troubleRank},
                #{primePrincipal}, #{primePrincipalId}, #{minorPrincipal}, #{minorPrincipalId}, #{dutyTeam},
                #{createManId}, #{createMan})
    </insert>

    <update id="update">
        UPDATE trouble_ticket
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="influence != null">influence = #{influence},</if>
            <if test="type != null">type = #{type},</if>
            <if test="productLineId != null">product_line_id = #{productLineId},</if>
            <if test="occurrenceTime != null">occurrence_time = #{occurrenceTime},</if>
            <if test="influenceCount != null">influence_count = #{influenceCount},</if>
            <if test="influenceClient != null">influence_client = #{influenceClient},</if>
            <if test="duringTime != null">during_time = #{duringTime},</if>
            <if test="failureTime != null">failure_time = #{failureTime},</if>
            <if test="influenceScope != null">influence_scope = #{influenceScope},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="restoreTime != null">restore_time = #{restoreTime},</if>
            <if test="replayTime != null">replay_time = #{replayTime},</if>
            <if test="assetLoss != null">asset_loss = #{assetLoss},</if>
            <if test="amountLoss != null">amount_loss = #{amountLoss},</if>
            <if test="timeLine != null">time_line = #{timeLine},</if>
            <if test="reasonAnalysis != null">reason_analysis = #{reasonAnalysis},</if>
            <if test="troubleRank != null">trouble_rank = #{troubleRank},</if>
            <if test="primePrincipal != null">prime_principal = #{primePrincipal},</if>
            <if test="primePrincipalId != null">prime_principal_id = #{primePrincipalId},</if>
            <if test="minorPrincipal != null">minor_principal = #{minorPrincipal},</if>
            <if test="minorPrincipalId != null">minor_principal_id = #{minorPrincipalId},</if>
            <if test="dutyTeam != null">duty_team = #{dutyTeam},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="modifyMan != null">modify_man = #{modifyMan},</if>
            <if test="modifyManId != null">modify_man_id = #{modifyManId},</if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="selectById" resultType="com.timevale.forward.dal.entity.TroubleTicketDO">
        SELECT id, name, influence, type, product_line_id, occurrence_time, influence_count,
               influence_client, during_time, failure_time, influence_scope, reason, restore_time, replay_time, asset_loss,
               amount_loss, time_line, reason_analysis, trouble_rank, prime_principal, prime_principal_id, minor_principal,
               minor_principal_id, duty_team, create_man_id, create_man, create_date, modify_man_id, modify_man, modify_date
        FROM trouble_ticket
        WHERE id = #{id} AND is_deleted = false
    </select>

    <select id="selectList" resultType="com.timevale.forward.dal.entity.TroubleTicketListDO">
        SELECT tt.id, tt.name, tt.trouble_rank, tt.create_man, tt.create_man_id, tt.occurrence_time,
               tt.create_date, tt.modify_date,
               pl.name productLineName,
               bd.name bizDomainName
        FROM trouble_ticket tt
        LEFT JOIN product_line pl ON tt.product_line_id = pl.id
        LEFT JOIN biz_domain bd ON pl.biz_domain_id = bd.id
        <where>
            <if test="name!=null and name!='' ">and tt.name like concat('%',#{name},'%')</if>
            <if test="handlerIdList != null and handlerIdList.size() > 0">
                and tt.handler_id in
                <foreach collection="handlerIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="createMandIdList != null and createMandIdList.size() > 0">
                and tt.create_man_id in
                <foreach collection="createMandIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="troubleRankList != null and troubleRankList.size() > 0">
                and tt.trouble_rank in
                <foreach collection="troubleRankList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="bizDomainIdList != null and bizDomainIdList.size() > 0">
                and bd.id in
                <foreach collection="bizDomainIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="productLineIdList != null and productLineIdList.size() > 0">
                and pl.id in
                <foreach collection="productLineIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <choose>
                <when test="occurrenceTimeStart != null and occurrenceTimeEnd != null">
                    and tt.occurrence_time &gt;= #{occurrenceTimeStart}
                    and tt.occurrence_time &lt;= #{occurrenceTimeEnd}
                </when>
                <otherwise>
                    <choose>
                        <when test="occurrenceTimeStart != null">
                            and tt.occurrence_time &gt;= #{occurrenceTimeStart}
                        </when>
                        <when test="occurrenceTimeEnd != null">
                            and tt.occurrence_time &lt;= #{occurrenceTimeEnd}
                        </when>
                    </choose>
                </otherwise>
            </choose>
        </where>
    </select>
</mapper>
