# IDE
.idea
.vscode
.settings
.classpath
.project
.factorypath
.cache
/static
.metals
*.iml
*.ipr
*.iws

# Binary
target
build
bin

# Logs 使用目录不使用*.log是为了方便IDE排除搜索目录
/logs

# Framework
/deploy/config/*
/metadata/*
/deploy/metadata/*
mandarin
mq_backup_db
allure-results
**/__pycache__