<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- 全局配置 -->
    <settings>
        <!--允许 JDBC 支持自动生成主键 -->
        <setting name="useGeneratedKeys" value="false"/>
        <!--是否开启自动驼峰命名规则（camel case）映射 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 延迟加载的全局开关。默认值：false。 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 设置超时时间，它决定驱动等待数据库响应的秒数。-->
        <setting name="defaultStatementTimeout" value="10"/>
    </settings>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <!-- 4.0.0以后版本可以不设置该参数 -->
            <property name="dialect" value="mysql"/>
            <!-- 该参数默认为false -->
            <!-- 设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用 -->
            <!-- 和startPage中的pageNum效果一样 -->
            <property name="offsetAsPageNum" value="true"/>
            <!-- 该参数默认为false -->
            <!-- 设置为true时，使用RowBounds分页会进行count查询 -->
            <property name="rowBoundsWithCount" value="true"/>
            <!-- 设置为true时，如果pageSize=0或者RowBounds.limit = 0就会查询出全部的结果 -->
            <!-- （相当于没有执行分页查询，但是返回结果仍然是Page类型） -->
            <property name="pageSizeZero" value="true"/>
            <!-- 3.3.0版本可用 - 分页参数合理化，默认false禁用 -->
            <!-- 启用合理化时，如果pageNum<1会查询第一页，如果pageNum>pages会查询最后一页 -->
            <!-- 禁用合理化时，如果pageNum<1或pageNum>pages会返回空数据 -->
            <property name="reasonable" value="true"/>
            <!-- 3.5.0版本可用 - 为了支持startPage(Object params)方法 -->
            <!-- 增加了一个`params`参数来配置参数映射，用于从Map或ServletRequest中取值 -->
            <!-- 可以配置pageNum,pageSize,count,pageSizeZero,reasonable,orderBy,不配置映射的用默认值 -->
            <!-- 不理解该含义的前提下，不要随便复制该配置 -->
            <property name="params" value="pageNum=start;pageSize=limit;"/>
            <!-- 支持通过Mapper接口参数来传递分页参数 -->
            <property name="supportMethodsArguments" value="true"/>
            <!-- always总是返回PageInfo类型,check检查返回类型是否为PageInfo,none返回Page -->
            <property name="returnPageInfo" value="check"/>
        </plugin>
        <!--审计拦截器-->
        <plugin interceptor="com.timevale.forward.service.interceptor.AuditInterceptor"/>
        <!--通配符转义处理器-->
        <plugin interceptor="com.timevale.forward.service.interceptor.WildcardEscapeInterceptor"/>
    </plugins>

    <mappers>
        <mapper resource="mapper/BizDemandMapper.xml"/>
        <mapper resource="mapper/BizDomainMapper.xml"/>
        <mapper resource="mapper/CommentMapper.xml"/>
        <mapper resource="mapper/FileMapper.xml"/>
        <mapper resource="mapper/PersonMapper.xml"/>
        <mapper resource="mapper/ProductBizDemandMapper.xml"/>
        <mapper resource="mapper/ProductDemand.xml"/>
        <mapper resource="mapper/ProductLineMapper.xml"/>
        <mapper resource="mapper/Project.xml"/>
        <mapper resource="mapper/ProjectNode.xml"/>
        <mapper resource="mapper/ProjectProductDemandMapper.xml"/>
        <mapper resource="mapper/ProjectProductLine.xml"/>
        <mapper resource="mapper/ProjectProductDemandMapper.xml"/>
        <mapper resource="mapper/TaskMapper.xml"/>
        <mapper resource="mapper/TaskTimeMapper.xml"/>
        <mapper resource="mapper/TaskProductDemandMapper.xml"/>
        <mapper resource="mapper/TestBillMapper.xml"/>
        <mapper resource="mapper/BugOfflineMapper.xml"/>
        <mapper resource="mapper/BugLogMapper.xml"/>
        <mapper resource="mapper/TroubleTicketMapper.xml"/>
        <mapper resource="mapper/ImprovementMeasureMapper.xml"/>
        <mapper resource="mapper/BugOnlineMapper.xml"/>
        <mapper resource="mapper/BugOnlineProductLineMapper.xml"/>
        <mapper resource="mapper/BugOnlineModelMapper.xml"/>
        <mapper resource="mapper/BugStatusOperatorMapper.xml"/>
        <mapper resource="mapper/BizChangeLogMapper.xml"/>
        <mapper resource="mapper/SearchConditionMapper.xml"/>
        <mapper resource="mapper/ProjectRiskMapper.xml"/>
        <mapper resource="mapper/ProjectRiskExplanationMapper.xml"/>
        <mapper resource="mapper/ProjectRiskRecordMapper.xml"/>
        <mapper resource="mapper/ProjectFlow.xml"/>
        <mapper resource="mapper/ProjectPublishPlan.xml"/>
        <mapper resource="mapper/ProjectGoalMapper.xml"/>
        <mapper resource="mapper/ManDayMapper.xml"/>
        <mapper resource="mapper/ModelMapper.xml"/>
        <mapper resource="mapper/TrackMapMapper.xml"/>
        <mapper resource="mapper/TrackEventMapper.xml"/>
        <mapper resource="mapper/ProductDemandTrackEventMapper.xml"/>
        <mapper resource="mapper/TrackEventPropMapper.xml"/>
        <mapper resource="mapper/TrackPropMapper.xml"/>
        <mapper resource="mapper/ColumnHideMapper.xml"/>
        <mapper resource="mapper/ProductDemandDescFlowMapper.xml" />
        <mapper resource="mapper/ProductDemandDescRecordMapper.xml" />
        <mapper resource="mapper/ProjectNodeFlowMapper.xml" />
        <mapper resource="mapper/ProjectNodeRecordMapper.xml" />
        <mapper resource="mapper/CustomDemandMapper.xml" />
        <mapper resource="mapper/ProductCustomDemandMapper.xml" />
        <mapper resource="mapper/LabelCategoryMapper.xml" />
        <mapper resource="mapper/LabelMapper.xml" />
        <mapper resource="mapper/LabelCategoryBizDomain.xml" />
        <mapper resource="mapper/BizLabelMapper.xml" />
        <mapper resource="mapper/TrackImportLogMapper.xml" />
        <mapper resource="mapper/ManDayReportMapper.xml" />
    </mappers>
</configuration>